<% content_for :title, "Les partenaires du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<div class="container cream rounded">
  <div class="row text-center">
    <h2 class="mx-auto py-4">Our Partners</h2>
    <h5 class="mx-auto py-1">The GFAOP is a founding member of ALIAM, a UICC member, a UNAPECLE member and a SFCE partner</h5 >
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-md-2 text-center">
      <a href="http://www.aliam.org/">
        <%= image_tag "logoaliam.png", class:"borderless rounded img-thumbnail", width: 100, alt:"ALIAM" %>
      </a>
      <h5>ALIAM</h5>
    </div>
    <div class="col-md-2 col-md-offset-2 text-center">
      <a href="http://www.uicc.org/">
        <%= image_tag "logouicc.png", class:"borderless rounded img-thumbnail", width: 100, alt:"UICC" %>
      </a>
      <h5>UICC</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://unapecle.medicalistes.org/">
      <%= image_tag "logounapecle.gif", class:"borderless rounded img-thumbnail", width: 100, alt:"UNAPECLE" %>
      </a>
      <h5>UNAPECLE</h5>
    </div>
    <div class="col-md-2 col-md-offset-2 text-center">
      <a href="http://sfce.sfpediatrie.com/"></a>
      <%= image_tag "logosfce.png", class:"borderless rounded img-thumbnail", width: 90, alt:"SFCE" %>
      <h5>SFCE</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5 class="text-center py-3">A big thank to all of our partners for their engagement</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-center">
      <a href="http://www.gustaveroussy.fr/">
        <%= image_tag "Logo-gustave-roussy.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"gustave roussy" %>
      </a>
      <h5>Gustave Roussy</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://fondation-sanofi-espoir.com/">
        <%= image_tag "logo_sanofi.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"sanofi espoir foundation" %>
      </a>
      <h5>Sanofi Espoir Foundation</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.total.fr/home.html">
        <%= image_tag "logototal.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"Total foundation" %>
      </a>
      <h5>TOTAL</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.contrelecancer.ma/fr/">
        <%= image_tag "logolalla.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"Lalla Salma foundation" %>
      </a>
      <h4 style="padding-top: 15px;">Fondation Lalla Salma</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.airfrance.com/indexCom_fr.html">
        <%= image_tag "logoairfrance.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"Air France" %>
      </a>
      <h5>Air France</h5>
    </div>
    <div class="col-md-2 text-center">
      <%= image_tag "logosiim.jpg", class:"borderless rounded img-thumbnail", width: 90, alt:"SIIM" %>
      <h5>SIIM</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-center">
      <a href="http://www.ligue-cancer.net/">
        <%= image_tag "Logo_LIGUE.jpg", class:"borderless rounded img-thumbnail", width: 70, alt:"Ligue against Cancer" %>
      </a>
      <h5>Ligue Contre le Cancer</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.les111desarts.org/">
        <%= image_tag "logo111.jpg", class:"borderless rounded img-thumbnail", width: 110, alt:"les 111 des Arts" %>
      </a>
      <h5>“les 111 des Arts”</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.ordredemaltefrance.org/">
        <%= image_tag "logoordredemalte.png", class:"borderless rounded img-thumbnail", width: 90, alt:"Ordre de Malte France" %>
      </a>
      <h5>Ordre de Malte France</h5>
    </div>
    <div class="col-md-2 text-center">
      <%= image_tag "logoagir.png", class:"borderless rounded img-thumbnail", width: 100, alt:"Marrocan foundation AGIR" %>
      <h5>AGIR in Maroc</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.asf-fr.org/">
        <%= image_tag "logoasf.gif", class:"borderless rounded img-thumbnail", width: 110, alt:"Aviation Sans Frontière" %>
      </a>
      <h5>Aviation Sans Frontière</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.biphumanitaire.fr/">
        <%= image_tag "logobip.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"BIP Humanitaire" %>
      </a>
      <h5>BIP Humanitaire</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-center">
      <a href="http://www.carrefour.fr/">
        <%= image_tag "logocarrefour.png", class:"borderless rounded img-thumbnail", width: 100, alt:"CARREFOUR" %>
      </a>
      <h5>CARREFOUR</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://imagineformargo.org/">
        <%= image_tag "logoimagine.png", class:"borderless rounded img-thumbnail", width: 300, alt:"Association Imagine for Margo" %>
      </a>
      <h5>Association «Imagine for Margo»</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.laurettefugain.org/">
        <%= image_tag "logolaurette.jpg", class:"borderless rounded img-thumbnail", width: 80, alt:"Association Laurette Fugain" %>
      </a>
      <h5>Association Laurette Fugain</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.soleterremaroc.org">
        <%= image_tag "logosoleterre.jpg", class:"borderless rounded img-thumbnail", width: 90, alt:"Association Soleterre" %>
      </a>
      <h5>Association Soleterre in Ivory Coast</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.talents-partage.org/">
        <%= image_tag "logotalentspartage.png", class:"borderless rounded img-thumbnail", width: 90, alt:"Association Talents et Partage" %>
      </a>
      <h5>Association Talents et Partage</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://fondation.edf.com/">
        <%= image_tag "logo_fondation_edf.jpeg", class:"borderless rounded img-thumbnail", width: 120, alt:"EDF foundation" %>
      </a>
      <h5>Fondation EDF</h5>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-2 text-center">
      <a href="http://www.avh.asso.fr/">
        <%= image_tag "logovalentinhauy.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"Valentin Haüy foundation" %>
      </a>
      <h5>Association Valentin Haüy</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.nausicaa.asso.fr/wordpress/">
        <%= image_tag "logo_nausicaa.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"Nausicaa" %>
      </a>
      <h5>Nausicaa</h5>
    </div>
    <div class="col-md-2 text-center">
      <%= image_tag "logovictoir.png", class:"borderless rounded img-thumbnail", width: 300, alt:"Assocation VICTOiR" %>
      <h5>Assocation "VICTOiR" in Togo</h5>
    </div>
    <div class="col-md-2 text-center">
      <%= image_tag "logopcd.jpg", class:"borderless rounded img-thumbnail", width: 90, alt:"Association PCD" %>
      <h5>Association PCD</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.chateaudelabourlie.com/">
        <%= image_tag "logobourlie.png", class:"borderless rounded img-thumbnail", width: 90, alt:"Chateau de la Bourlie" %>
      </a>
      <h5>Chateau de la Bourlie</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.apsa-association.com/">
        <%= image_tag "logoapsa.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"apsa association" %>
      </a>
      <h5>APSA in Niger</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-center">
      <a href="https://www.facebook.com/fondationcalissaikama/">
        <%= image_tag "logocalissa.png", class:"borderless rounded img-thumbnail", width: 90, alt:"Calissa Ikama foundation" %>
      </a>
      <h5>Calissa Ikama Foundation in Congo</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.bsf.asso.fr/">
        <%= image_tag "logobsf.jpg", class:"borderless rounded img-thumbnail", width: 130, alt:"Biologie Sans Frontière" %>
      </a>
      <h5>Biologie Sans Frontière (BSF)</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.cancer-amcc.org">
        <%= image_tag "logoamcc.png", class:"borderless rounded img-thumbnail", width: 80, alt:"cancer AMCC" %>
      </a>
      <h5>AMCC</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="https://www.creditfoncier.fr/">
        <%= image_tag "logo_credit_foncier.png", class:"borderless rounded img-thumbnail", width: 180, alt:"Crédit Foncier de France" %>
      </a>
      <h5>Crédit Foncier de France</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.expertisefrance.fr/">
        <%= image_tag "logo_expertise_france.png", class:"borderless rounded img-thumbnail", width: 80, alt:"Expertise France" %>
      </a>
      <h5>Expertise France</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="https://curie.fr/">
        <%= image_tag "logo_institut_curie.png", class:"borderless rounded img-thumbnail", width: 80, alt:"Institut Curie" %>
      </a>
      <h5>Institut Curie</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="http://www.associationlavenir.ma/notreaction.html">
        <%= image_tag "logo_avenir_maroc.png", class:"borderless rounded img-thumbnail", width: 80, alt:"Association Avenir au Maroc" %>
      </a>
      <h5>Association Avenir au Maroc</h5>
    </div>
    <div class="col-md-2 text-center">
      <a href="https://www.facebook.com/gabriella.retinoblastome">
        <%= image_tag "logo_gabriella_pour_la_vue.png", class:"borderless rounded img-thumbnail", width: 80, alt:"Gabriella pour la vue" %>
      </a>
      <h5>“Gabriella pour la vue” in Democratic Republic of Congo</h5>
    </div>
  </div>
  <div class="row">
    <ul>
      <li>And our numerous private donors !</li>
    </ul>
  </div>
</div>
