<% content_for :title, "Le Diplôme Universitaire de Cancérologie Pédiatrique" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<div class="container">
  <div class="d-flex justify-content-center pt-3">
    <div class="p-2">
      <%= image_tag "logonav.png", class:"borderless rounded img-thumbnail", width: 100, alt:"gfaop" %>
    </div>
    <div class="p-2">
      <%= image_tag "univmohammed.jpg", class:"borderless rounded img-thumbnail", width: 100, alt:"Université Mohamed 5 Rabat" %>
    </div>
    <div class="p-2">
      <%= image_tag "univparissud.png", class:"borderless rounded img-thumbnail", width: 100, alt:"Université Paris Sud" %>
    </div>
  </div>
</div>

<div class="container py-1">
  <div class="row text-center">
    <h3 class="col-12 mx-auto py-2">Why a University Diploma in pediatric oncology ?</h3>
    <div class="col-12 col-md-4">
      <%= image_tag "promotion_ducp_1.jpg", class:"borderless rounded img-thumbnail", alt:"first promotion" %>
    </div>
    <div class="text-justify col-12 col-md-8">
      Childhood cancer is a major emerging cause of morbidity and mortality. In developed countries, it is the first cause of death for children. In developing countries, with the decrease in mortality due to infectious and nutritional diseases, cancer is becoming more and more important for children's health problems. However, the management of childhood cancer requires a high level of technicality and a good organization of healthcare facilities. Nonetheless, there is no organized training for pediatric oncology. Training in developed countries is costly and sometimes inappropriate to the candidate's practice. The setting up of a University diploma carried out by the Faculty of Medicine and Pharmacy of Rabat in partnership with the University Paris South, thus fills this gap and contributes to the development of oncology. This training was largely inspired by the IDPO (Interuniversity Diploma of Pediatric Oncology) organized at the Gustave Roussy Institute and thanks to which numerous African pediatric oncologists have been trained in pediatric oncology.
    </div>
  </div>
  <div class="row text-center">
    <div class="text-justify col-12 col-md-8">
      Since 2014, three student promotions have already been formed, approximately 75 physicians from Maghreb or Sub-Saharan Africa. The third promotion completes his training and will support his dissertation in November 2017.
      The next promotion will be hosted in September 2018, in order to better accompany the students of the first 3 promotions until the end of their training and their begin in professional life.
    </div>
    <div class="col-12 col-md-4">
      <%= image_tag "promotion_ducp_2.jpg", class:"borderless rounded img-thumbnail", alt:"seconde promotion" %>
    </div>
  </div>
</div>

<hr class="separator">

<div class="container">
  <div class="row text-center">
    <h3 class="col-12 mx-auto py-2">Training description</h3>
    <div class="col-12 col-md-8">
      <p class="text-justify">
        The University diploma includes a theoretical training, a practical internship of 3 to 6 months and a research work with the presentation of a thesis. The total duration of the training is of 12 months and starts in October. The training ends up with a University Diploma also validated by the University Paris Sud. Theoretical training is divided into five three-day modules :
      </p>
      <ul class="text-left">
        <li>Module 1 : Epidemiology and Clinical Research</li>
        <li>Module 2 : Leukemias and lymphomas</li>
        <li>Module 3 et 4 : Solid tumors</li>
        <li>Module 5 : Comprehensive care, support care, consequences and long-term aftercare</li>
      </ul>
    </div>
    <div class="col-12 col-md-4">
      <%= image_tag "promotion_ducp_3.jpg", class:"borderless rounded img-thumbnail", alt:"troisième promotion" %>
    </div>
  </div>
</div>

<hr class="separator">

<div class="container">
  <div class="row text-center">
    <h3 class="mx-auto py-2">Target audience</h3>
  </div>

  <div class="row">
    <div class="mx-auto col-md-8">
        <p class="text-justify">This training is open to physicians in North Africa and Sub-Saharan Africa and contributes to the development of their pediatric oncology skills.
          Specialized physicians or physicians currently doing the specialization:
        </p>
        <ul>
          <li>Pediatrician</li>
          <li>Hematologist</li>
          <li>Oncologist</li>
          <li>Pediatric surgeon</li>
          <li>Anatomical pathologist</li>
          <li>Radiotherapist</li>
          <li>etc...</li>
        </ul>
      <p>Course limited to 25 students.</p>
      <p><a href="http://e-gfaop.org" >Here</a> find the University diploma courses on the E-Learning platform of the GFAOP.</p>
    </div>
  </div>
  <div class="mx-auto embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3tSxw5DW-Fw"></iframe>
  </div>  
  <div class="row">
    <a class="btn btncrowd mx-auto m-4 p-2" href="https://formation.gustaveroussy.fr/shop/gfaop--cours-en-ligne-arc" role="button">Vous inscrire</a>  
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-2">
      <%= image_tag "logonav.png", class:"borderless rounded img-thumbnail", width: 120, alt:"logo gfaop" %>
    </div>
    <div class="p-2">
      <%= image_tag "logolalla.jpg", class:"borderless rounded img-thumbnail", width: 120, alt:"fondation lalla salma" %>
    </div>
    <div class="p-2">
      <%= image_tag "logocanceropole.jpg", class:"borderless rounded img-thumbnail", width: 120, alt:"cancéropole paca" %>
    </div>
    <div class="p-2">
      <%= image_tag "logosmhop.png", class:"borderless rounded img-thumbnail", width: 140, alt:"société marocaine d'hématologie et oncologie pédiatrique" %>
    </div>
    <div class="p-2">
      <%= image_tag "logo_sanofi.jpg", class:"borderless rounded img-thumbnail", width: 120, alt:"fondation espoir sanofi" %>
    </div>
  </div>
</div>

