<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse navbar-light" id="nav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to(image_tag("gfaop.png", width: 300, alt:"logo gfaop"), '/', class:"navbar-brand") %>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to "Home", 'en/index.html', class:"nav-link white" %></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle white" id="assocNavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Organization
        </a>
        <div class="dropdown-menu" aria-labelledby="assocNavbarDropdownMenuLink">
          <%= link_to "Presentation", 'organization.html', class:"dropdown-item" %>
          <%= link_to "Books", 'books.html', class:"dropdown-item" %>
          <a class="dropdown-item" href="http://www.cloud-gfaop.org/index.php/s/TqIdX8xk0DbfZFv" target="_blank">Statuses</a>
          <a class="dropdown-item" href="http://www.cloud-gfaop.org/index.php/s/3rtLmJpvBLxEyDm" target="_blank">Status Report</a>
          <a class="dropdown-item" href="http://www.cloud-gfaop.org/index.php/s/4BtlLnSITfZzRHv" target="_blank">Code Of Ethics</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Team
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Board of Directors", 'board-of-directors.html', class:"dropdown-item" %>
          <%= link_to "Board", 'board.html', class:"dropdown-item" %>
          <%= link_to "Supporting Comitee", 'supporting-comitee.html', class:"dropdown-item" %>
          <%= link_to "Medical and Paramedical Comitees", 'comitees.html', class:"dropdown-item" %>
        </div>
      </li>    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle white" id="actionsNavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="actionsNavbarDropdownMenuLink">
          <%= link_to "Training", 'training.html', class:"dropdown-item" %>
          <%= link_to "Clinical Reasearch", 'clinical-reasearch.html', class:"dropdown-item" %>
          <%= link_to "Drug and Supply Delivery", 'drug-and-supply-delivery.html', class:"dropdown-item" %>
          <%= link_to "Support", 'support.html', class:"dropdown-item" %>
        </div>
      </li>   
      <li class="nav-item"><%= link_to "Projects", 'projects.html', class:"nav-link white" %></li>
      <li class="nav-item"><%= link_to "Pilot Units", 'pilot-units.html', class:"nav-link white" %></li>
      <li class="nav-item"><%= link_to "Education", 'university-education.html', class:"nav-link white" %></li>
      <li class="nav-item"><a class="nav-link white" href="http://www.cloud-gfaop.org" target="_blank">Members'Area</a></li>
      <li class="nav-item orange rounded"><a class="nav-link white" href="https://www.helloasso.com/associations/gfaop/formulaires/1/en" target="_blank">Donate</a></li>
      <li class="nav-item"><%= link_to(image_tag("french_flag.svg", width: 30, alt:"French flag"), '/') %></li>
    </ul>
  </div>
</nav>