<div class="footer2">
  <div class="container">
    <div class="row text-center">
      <%= link_to "Presse", 'presse.html', class:"white" %>
        I
      <%= link_to "Nos Partenaires", 'partenaire.html', class:"white" %>
        I
      <%= link_to "Nos Publications", 'publication.html', class:"white" %>
        I
      <%= link_to "Nos Newsletters", 'newsletter.html', class:"white" %>
    </div>
    <div class="row text-center">
      <p class="white" style="font-size: 17px;">contact@gfaop.org | +33(0)1 42 11 65 60</p>
      <p class="white" >GFAOP - Gustave Roussy - 114, rue Edouard Vaillant 94805 Villejuif Cedex - France</p>
    </div>

    <div class="row text-center">
      <%= image_tag "Logo-gustave-roussy.jpg", class:"borderless noborder img-thumbnail", width: 150, alt:"Cancer Campus Gustave Roussy" %>
    </div>

  </div>
</div>