<div class="footer2">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 py-1">
        <%= link_to "Presse", 'presse.html', class:"white" %>
          I
        <%= link_to "Nos Partenaires", 'partenaire.html', class:"white" %>
          I
        <%= link_to "Nos Publications", 'publication.html', class:"white" %>
          I
        <%= link_to "Nos Newsletters", 'newsletter.html', class:"white" %>
      </div>  
      <div class="col-12 white py-1"><h4>contact@gfaop.org | +33(0)1 42 11 65 60</h4></div>
      <div class="col-12 white py-1">GFAOP - Gustave Roussy - 114, rue Edouard Vaillant 94805 Villejuif Cedex - France</div>
    </div>
    <div class="row text-center py-1">
      <%= image_tag "Logo-gustave-roussy.jpg", class:"mx-auto rounded", height: 75, style: 'width:auto;', alt:"Cancer Campus Gustave Roussy" %>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h5 class="white" style="font-family: Lato; font-style: italic;">Le GFAOP est une association loi de 1901 reconnue d’intérêt général. Vous pouvez nous aider en faisant un don, en devenant bénévole, en organisant des manifestations au profit du GFAOP, par du mécénat de compétence. Les dons ouvrent droit à une réduction d’impôts ( 66% pour un particulier, 60% pour une entreprise). Un reçu fiscal vous sera envoyé par courrier.
        </h5>
      </div>
      <div class="col-12"><%= link_to "Mentions Légales", 'mentions.html', class:"white" %></div>
    </div>
  </div>
</div>