<div class="footer2" id="bottom">
  <div class="container">

    <div class="row text-center">
      <div class="col-md-4 col-md-offset-4">
        <i id="white" class="fa fa-2x fa-facebook"></i>
        <i id="white" class="fa fa-2x fa-twitter"></i>
        <i id="white" class="fa fa-2x fa-google-plus"></i>
      </div>
      <br>
    </div>

    <div class="row text-center white" id="white" style="padding-top: 1em;">
	  <p id="white">
	  <%= link_to "Presse", 'presse.html', id:"white" %>
        I
      <%= link_to "Nos Partenaires", 'partenaire.html', id:"white" %>
        I
      <%= link_to "Nos Publications", 'publication.html', id:"white" %>
        I
      <%= link_to "Nos Newsletters", 'newsletter.html', id:"white" %>
	  </p>
    </div>

    <div class="row text-center">
      <p id="white" style="font-size: 17px; padding-top: 1em;">contact@gfaop.org      I     +33(0)1 42 11 65 60</p>
      <p id="white">GFAOP - Gustave Roussy - 114, rue Edouard Vaillant 94805 Villejuif Cedex - France</p>
    </div>

    <div class="row text-center">
      <%= image_tag "Logo-gustave-roussy.jpg", class:"borderless noborder img-thumbnail", width: 150, alt:"sanofi" %>
    </div>

  </div>
</div>