<div class="footer2" id="bottom">
  <div class="container">

    <div class="row text-center white" style="padding-top: 1em;">
      <br>
	  <p class="white">
	  <%= link_to "Presse", 'presse.html' %>
        I
      <%= link_to "Nos Partenaires", 'partenaire.html' %>
        I
      <%= link_to "Nos Publications", 'publication.html' %>
        I
      <%= link_to "Nos Newsletters", 'newsletter.html' %>
	  </p>
    </div>

    <div class="white row text-center">
      <p style="font-size: 17px; padding-top: 1em;">contact@gfaop.org      I     +33(0)1 42 11 65 60</p>
      <p>GFAOP - Gustave Roussy - 114, rue Edouard Vaillant 94805 Villejuif Cedex - France</p>
    </div>

    <div class="row text-center">
      <%= image_tag "Logo-gustave-roussy.jpg", class:"borderless noborder img-thumbnail", width: 150, alt:"Gustave Roussy" %>
    </div>

  </div>
</div>