<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>

<nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation" id="nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(image_tag("logonav.png", class:"logomayano hidden-xs hidden-sm", width: 91, alt:"logomayano"), '/') %>
      <%= link_to(image_tag("logonav2.png", class:"logomayano hidden-xs hidden-sm hidden-md", width: 91, alt:"logomayano"), '/') %>
    </div>
    <div class="collapse navbar-collapse paddingnav">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil", '/' %></li>
        <li><%= link_to "L'Association", 'association.html' %></li>
        <li><%= link_to "Nos Actions", 'action.html' %></li>
        <li><%= link_to "Nos Projets", 'projet.html' %></li>
        <li><%= link_to "Nos Up", 'up.html' %></li>
        <li><%= link_to "Formation", 'formationup.html' %></li>
        <li class="orange-back"><a id="white" href="http://www.helloasso.com/don/associations/gfaop" target="_blank">Faire Un Don</a></li>
      </ul>
    </div>
  </div>
</nav>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars fa-2x dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Accueil", '/' %></li>
        <li><%= link_to "L'Association", 'association.html' %></li>
        <li><%= link_to "Nos Actions", 'action.html' %></li>
        <li><%= link_to "Nos Projets", 'projet.html' %></li>
        <li><%= link_to "Nos Up", 'up.html' %></li>
        <li><%= link_to "Formation", 'formationup.html' %></li>
        <li class="orange-back"><a id="white" href="http://www.helloasso.com/don/associations/gfaop" target="_blank">Faire Un Don</a></li>
      </ul>
    </div>
  </div>
</div>
