<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="nav">
  <a class="navbar-brand" href="#">
    <%= link_to(image_tag("logonav.png", class:"logomayano", width: 83, alt:"logo gfaop"), '/') %>
  </a>
  <a class="navbar-brand pl-2" href="#">
    <%= link_to(image_tag("logonav2.png", class:"logomayano", width: 83, alt:"groupe franco-africain d'oncologie pédiatrique"), '/') %>
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><%= link_to "Accueil", '/', class:"nav-link" %></li>
    <li class="nav-item"><%= link_to "L'Association", 'association.html', class:"nav-link" %></li>
    <li class="nav-item"><%= link_to "Nos Actions", 'action.html', class:"nav-link" %></li>
    <li class="nav-item"><%= link_to "Nos Projets", 'projet.html', class:"nav-link" %></li>
    <li class="nav-item"><%= link_to "Nos Up", 'up.html', class:"nav-link" %></li>
    <li class="nav-item"><%= link_to "FormationDU", 'formationup.html', class:"nav-link" %></li>
    <li class="nav-item"><a class="nav-link" href="http://www.cloud-gfaop.org" target="_blank">Espace membre</a></li>
    <li class="nav-item orange-back"><a class="nav-link white" href="http://www.helloasso.com/don/associations/gfaop" target="_blank">Faire Un Don</a></li>
  </ul>
</nav>

