<% content_for :title, "Actions du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :description, "Actions du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :keywords, "formation, recherche clinique, accompagnement, diplôme universitaire, Oncologie Pédiatrique" %>

<div class="verysmall-vertical-spacer"></div>

<div class="wrapper-5 hidden-xs">
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
    <h1>ACCOMPAGNEMENT</h1>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
</div>

<div class="wrapper-5 visible-xs">
  <div class="small-vertical-spacer"></div>
    <h1>ACCOMPAGNEMENT</h1>
  <div class="small-vertical-spacer"></div>
</div>

<div class="container">
  <div class="row text-center">
    <h3>LES INFRASTRUCTURES</h3>
  </div>

  <div class="row text-center">
    <h4>La rénovation des services et l’équipement des unités </h4>
  </div>

  <div class="row text-center">
    <p>De nombreux services d’oncologie pédiatriques ont déjà bénéficié de rénovations partielles ou totales  grâce au travail conjoint de la direction des hôpitaux locaux  soutenu par le  GFAOP .
  Néanmoins il reste beaucoup à faire…
    </p>
  </div>
</div>

<div class="container">

  <div class="small-vertical-spacer"></div>

  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <%= image_tag "actionaccomp3.png", class:"borderless rounded img-thumbnail", width: 200, alt:"enfant" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag "actionaccomp2.png", class:"borderless rounded img-thumbnail", width: 300, alt:"enfant" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag "actionaccomp1.png", class:"borderless rounded img-thumbnail", width: 300, alt:"enfant" %>
    </div>
  </div>

  <div class="row text-center">

    <div class="small-vertical-spacer"></div>

    <div class="col-md-6 ">
      <div class="thumbnail noborder cream">
        <div class="caption"  style="height:16em">
          <h4>• Les salles d’Unité de préparation et les hottes à flux laminaire</h4>
          <p>Il est indispensable que des salles puissent être dédiées à la préparation des médicaments. En effet, les conditions réglementaires de sécurité ne sont aujourd’hui pas respectées faute d’aménagements spécifiques ; les préparations se font « au pied du lit » La salle doit disposer d’une hotte et de renouvellement d’air afin d’éviter la suspension dans l’air des particules de médicaments en préparation et ainsi leur inhalation par le personnel ou les malades et la perte de substances actives.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="thumbnail noborder cream">
        <div class="caption"  style="height:16em">
          <h4>• Les équipements d’anatomopathologie  pour mieux assurer les diagnostics</h4>
          <p>Pour confirmer les diagnostics et  adapter les traitements au mieux, il serait nécessaire qu’une double lecture soit possible grâce à la télétransmission ( à mettre en place) des unités d’Afrique sub saharienne vers les collègues français mais cela nécessite un microscope permettant d ‘adapter un appareil photo numérique.</p>
        </div>
      </div>
    </div>

  </div>
</div>

  <hr class="separator">

<div class="container">
  <div class="row text-center">
    <h3>ACCOMPAGNEMENT DES FAMILLES</h3>
  </div>
</div>

<div class="container">

  <div class="row">
    <h3>Les Maisons des parents</h3>
    <br>
    <p><b>C’est un point essentiel dans la prise en charge des enfants et de leurs familles. En effet, le traitement de la maladie est long de 6 à 12 mois.</b></p>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= image_tag "maison1.png", class:"borderless rounded img-thumbnail", width: 400, alt:"enfant" %>
    </div>

    <div class="col-md-9">

      <br>
      <p>
      Pour des raisons financières les familles restent sur place pendant  les intercures, soit dans l’hôpital (auquel cas on manque de lits pour les nouveaux patients) soit autour de l’hôpital dans des conditions misérables. <br>Parfois, les familles décident de rentrer au village mais beaucoup n’ont ni le courage ni les moyens de refaire le voyage et de revenir à l’hôpital. De nombreux enfants sont ainsi dit « Perdus de vue »<br>
      Ces « Maisons d’accueil des Parents », sont faites pour  recevoir ces enfants et un membre de leur famille pendant toute la durée du traitement, permettant ainsi de limiter les abandons en cours de traitement et d’offrir  une  réelle amélioration des conditions de vie des familles. <br>
      En Afrique Sub saharienne, seule l’UP de Côte d’Ivoire a une maison des parents, des projets sont en cours pour les autres services.
      </p>
    </div>

  </div>

  <div class="row">
    <h3>Le Programme AIDAF</h3>
    <br>
    <p><b>Pour l’amélioration de l’information aux familles et leur accompagnement :
      "L’annonce du diagnostic dans les unités d’oncologie pédiatrique africaines"</b></p>
    <br>
  </div>

  <div class="row">

    <div class="col-md-3">
      <%= image_tag "aidaf.png", class:"borderless rounded img-thumbnail", width: 200, alt:"enfant" %>
    </div>
      <br>
      <p>
        Le moment de l’annonce du diagnostic est excessivement difficile pour les familles, et il l’est aussi pour les médecins chargés de l’effectuer.<br> Malgré cela, l’annonce d’un diagnostic de cancer doit être considérée comme un moment stratégique, pouvant clairement influencer la suite du traitement.<br> Cette affirmation est encore plus vraie pour des unités d’oncologie pédiatrique africaines, où les spécificités socioéconomiques et culturelles font qu’une famille sur quatre abandonne le traitement en cours.<br> De ce fait, il faut réaliser que le parent que l’on rencontre pour lui annoncer le diagnostic de cancer est aussi susceptible de déserter avec son enfant malade.<br> Au-delà des raisons économiques, ces abandons sont liés à la méconnaissance de la maladie et du traitement ou à l’influence des croyances locales.<br>
        Un guide d’annonce a été réalisé, il doit être suivi de films de mise en situation à destination du personnel des UP et des familles.
      </p>
  </div>

</div>

<hr class="separator">

<div class="container">
  <div class="row text-center">
    <h3>ACCOMPAGNEMENT DES POLITIQUES DE SANTE PUBLIQUE</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <p><b>Le cancer de l’enfant, un problème de santé publique qui commence à mobiliser les personnalités politiques et les organismes internationaux.</b></p>
  </div>

  <div class="row">
    <div class="col-md-3 text-center">
      <br>
      <%= image_tag "politique.png", class:"borderless rounded img-thumbnail", width: 250, alt:"enfant" %>
    </div>

    <div class="col-md-9">
      <p>Depuis 15 ans,  le GFAOP travaille sur le terrain, les équipes ont prouvé que malgré des conditions difficiles et   très peu de moyens,  de bons résultats étaient obtenus et qu’ainsi,  même en Afrique, les enfants pouvaient être guéris.<br>
        Le GFAOP accompagne la mise en place de politiques de santé publique, développe des campagnes d’information pour le diagnostic précoce et l’ information des professionnels de santé locaux.<br>
        De nombreuses personnalités ont visité les unités du  GFAOP :<br><br>
      </p>
      <p class="font-italic">
        SAR la Princesse Lalla Salma, Présidente de la « Fondation Lalla Salma, accompagnée par Mme Dominique Ouattara, Première Dame de Côte d’Ivoire, et de Mme Bernadette Chirac, Présidente de la Fondation des Hôpitaux de Paris – Hôpitaux de France, au CHU de Marrakech.
      </p>
    </div>

  </div>

</div>
