<div class="verysmall-vertical-spacer"></div>

<div class="wrapper-5 hidden-xs">
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
    <h1 class="titlewrapper">NOS ACTIONS</h1>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
</div>

<div class="wrapper-5 visible-xs">
  <div class="small-vertical-spacer"></div>
    <h1 class="titlewrapper">NOS ACTIONS</h1>
  <div class="small-vertical-spacer"></div>
</div>


<div class="container">
  <div class="row text-center">
    <div class="verysmall-vertical-spacer"></div>
    <%= image_tag "formation.png", width: 60, alt:"formation" %>
    <h2 style="color: #f96634;">LA FORMATION</h2>
    <br>
  </div>
  <div class="row col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justified">
    <p>
      L’objectif est de former du personnel médical et paramédical afin de soigner localement les enfants malades.
      En 15 ans, plus de 150 médecins et infirmiers  africains ont été formés à l’oncologie pédiatrique par le GFAOP dans les plus grands services spécialisés français en cancérologie. </br>

      En complément à la formation des pédiatres oncologues, d’autres  médecins spécialistes (chirurgiens, anatomopathologistes, ophtalmologistes, radilothérapeutes…) et des infirmiers bénéficient également de formations liées à l’oncologie pédiatrique. </br>
      C’est le principal poste de dépenses de l’association.
      Néanmoins, seul 10% des enfants atteints de cancer parviendrait à rejoindre les centres spécialisés, un important travail de sensibilisation est en cours. Pour accueillir un nombre croissant d’enfants il est indispensable d’augmenter les capacités de formation des personnels des unités de références et des compétences relais par un plan de formation prenant en compte les besoins de chaque pays (formations centralisées et décentralisées)
    </p>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="cream">
  <br>
    <div class="container">
      <div class="row text-justified">

        <div class="col-sm-3 col-xs-4">
          <%= image_tag "actionstage1.jpg", class:"noborder img-thumbnail", width: 300, alt:"enfant" %>
        </div>
        <div class="col-sm-9 col-xs-8">
          <h3>• Les Stages</h3>
          <p>
            D’une durée de 7  jours à 2 mois, en France, au Maroc ou dans certaines unités d’Afrique sub sahariennes, ces stages sont ouverts à différentes disciplines en vue d’acquérir les compétences nécessaires à la pratique de l’oncologie pédiatrique.
            Toutes les disciplines médicales et paramédicales sont concernées.
          </p>
        </div>

      </div>
    </div>
    <br>
</div>

<br>
<div class="container">
  <div class="row text-justified">

    <div class="col-sm-3 col-xs-4">
      <%= image_tag "actiondiuop.png", class:"noborder img-thumbnail", width: 600, alt:"enfant" %>
    </div>

    <div class="col-sm-9 col-xs-8">
      <h3>• Le Diplôme Inter Universitaire d’Oncologie Pédiatrique (DIUOP) en France</h3>
      <p>
        Ouvert aux étudiants étrangers en France,  la formation d’un an à ce diplôme permet d’acquérir la capacité de prendre en charge les enfants et adolescents présentant une affection maligne dans le cadre de l’exercice multidisciplinaire de l’oncologie pédiatrique.
      </p>
    </div>

  </div>
</div>
<br>

<div class="cream">
  <br>
  <div class="container">
    <div class="row text-justified">
      <div class="col-sm-3 col-xs-4">
        <%= image_tag "actioneaop.png", class:"noborder img-thumbnail", width: 600, alt:"enfant" %>
      </div>
      <div class="col-sm-9 col-xs-8">
        <h3>• L’Ecole Africaine d’Oncologie Pédiatrique  (EAOP) au Maroc</h3>
        <p>
          Destinée à accroitre les capacités de formation du GFAOP, l’école forme chaque année de 20 à 30 praticiens lors de sessions dans des spécialités diverses (Pédiatrie, chirurgie, soins infirmiers…)
          L’Ecole Africaine d’Oncologie Pédiatrique (EAOP) est issue de l’expérience de formation du GFAOP et de Gustave Roussy. Elle est le prolongement en Afrique de l’expérience acquise en France par le GFAOP dans le domaine de la formation à l’Oncologie Pédiatrique.
        </p>
      </div>
    </div>
  </div>
  <br>
</div>

<br>
<div class="container">
  <div class="row text-justified">
    <div class="col-sm-3 col-xs-4">
      <%= image_tag "actiondiucp.png", class:"noborder img-thumbnail", width: 600, alt:"enfant" %>
    </div>
    <div class="col-sm-9 col-xs-8">
      <h3>• Le Diplôme Inter Universitaire de Cancérologie Pédiatrique (DIUCP) au Maroc</h3>
      <p>
        Ce diplôme franco-marocain initié par le GFAOP avec les facultés de médecine de Paris-Sud et de Rabat, se prépare en une année. Ouverte à une vingtaine d’étudiants chaque année, cette  formation dispense des cours théoriques et  des stages pratiques au Maroc et en France. Elle est destinée à répondre à une demande sans cesse croissante de spécialistes du cancer de l’enfant.
      </p>
    </div>

  </div>
</div>
<br>


<div class="cream">
  <div class="container">
    <div class="row text-justified">
      <div class="col-sm-3 col-xs-4">
        <%= image_tag "actioncollegiales.png", class:"noborder img-thumbnail", width: 600, alt:"enfant" %>
      </div>
      <div class="col-sm-9 col-xs-8">
        <h3>• Les formations collégiales</h3>
        <p>
          Les formations collégiales ont régulièrement lieu à Gustave Roussy à l’occasion des rencontres semestrielles du GFAOP. Ces réunions rassemblent des médecins en provenance des unités pilotes du Maghreb et de l’Afrique sub-saharienne où le GFAOP est présent.
          Ces réunions  constituent un temps fort de formation par les échanges d’expériences qu’elles permettent.
        </p>
      </div>
    </div>
  </div>
</div>



<br>
<div class="container">
  <div class="row text-justified">
    <div class="col-sm-3 col-xs-4">
      <%= image_tag "actionstage2.jpg", class:"noborder img-thumbnail", width: 300, alt:"enfant" %>
    </div>
    <div class="col-md-9 col-xs-8">
      <h3>• La formation  des responsables d’UP</h3>
      <p>
        Le GFAOP est amené à aider les responsables d’UP à acquérir les titres Universitaires de 3ème cycle tels que le Doctorat ès-Sciences ou l’Agrégation de médecine leur permettant d’évoluer dans la hiérarchie de leurs établissements. Une évolution vers les hauts niveaux de l’administration Hospitalière Africaine constitue un gage de promotion de l’Oncologie Pédiatrique Africaine.
      </p>
    </div>
  </div>
</div>
<br>



<div class="cream">
  <br>
  <div class="container">
    <div class="row text-justified">
      <div class="col-sm-3 col-xs-4">
        <%= image_tag "actioninfirmiere.png", class:"noborder img-thumbnail", width: 600, alt:"enfant" %>
      </div>
      <div class="col-sm-9 col-xs-8">
        <h3>• La formation infirmière</h3>
        <p>
          Un programme de formation  d’infirmières travaillant dans des services d’oncologie pédiatrique vise à  les sensibiliser aux problématiques médicales spécifiques de la pathologie cancéreuse des enfants.
        </p>
        <p>
          Depuis  2014, l’association Laurette Fugain soutient le GFAOP, en offrant chaque année 2 bourses à des infirmières des Unités pilotes. Ces  dernières bénéficient de stages de 2 mois en France dans les services les plus prestigieux à l’issue desquels elles doivent produire un mémoire.
        </p>
      </div>

    </div>
  </div>
  <br>
</div>



<div class="small-vertical-spacer"></div>


<div class="container">
  <div class="row text-center">
    <h3>L’Anatomopathologie</h3>
  </div>
  <div class="row col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justified">
    <p>
      La spécialité d’anatomopathologie est essentielle pour confirmer les diagnostics cliniques de cancer des patients. Des examens histologiques en laboratoire, des prélèvements effectués sur les organes malades permettent de guider le choix de protocoles de soins offrant les meilleurs taux de succès. Une anatomopathologie incertaine réduit notablement les chances de succès et fait perdre un temps précieux par une administration de médications onéreuses mais inappropriées. La thérapie du soin des cancers de l’enfant peut être assimilée à une guerre de mouvements rapides. Plus on est rapide dans l’administration du juste traitement, plus grandes seront les chances de survie des enfants.
    </p>
  </div>
<!--   <div class="row text-center">
    <%= image_tag "actionanatomopathologie.png", class:"noborder img-thumbnail", width: 200, alt:"enfant" %>
  </div> -->
</div>


<div class="small-vertical-spacer"></div>


<div class="cream">
  <div class="container">
    <div class="row text-center">
    <div class="small-vertical-spacer"></div>

      <div class="col-md-4">
        <div class="thumbnail">
          <div class="caption" style="height:19em">
            <h3>La Chirurgie</h3>
            <p>L’accent est mis sur une formation spécifique aux besoins de chirurgie dans le traitement des tumeurs de l’enfant. Elle est  destinée à des chirurgiens n’ayant pas une expérience spécifique au domaine de l’oncologie pédiatrique. La Chirurgie des tumeurs cancéreuses de l’enfant est un complément indispensable à maitriser pour soigner efficacement les cancers des enfants.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <div class="caption" style="height:19em">
            <h3>L’ophtalmologie : Formation Rétinoblastome</h3>
            <p>Depuis 2011, le GFAOP, adossé à Gustave Roussy  et à l’institut Curie, a décidé d’inscrire le RETINOBLASTOME des enfants parmi les pathologies sur lesquelles elle s’investit plus particulièrement. Ce cancer représente une proportion importante des tumeurs qui frappent les enfants.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <div class="caption" style="height:19em">
            <h3>La Radiologie et  la Radiothérapie</h3>
            <p>Encore trop peu de services africains disposent d’accès à la radiothérapie, pourtant elle permet les traitements conservateurs liés à certaines tumeurs. La mise à disposition de nouveaux équipements nécessite la formation des utilisateurs.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="wrapper-51">
</div>


<div class="text-center">
  <div class="verysmall-vertical-spacer"></div>
  <%= image_tag "recherche.png", width: 50, alt:"formation" %>
  <h2 style="color: #f96634;">LA RECHERCHE CLINIQUE</h2>
</div>

<div class="container">
  <div class="row col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justified">
    <p>Le GFAOP a démontré que même en Afrique, on pouvait faire de la recherche clinique de manière prospective et multicentrique. Ce sont les 5 comités de tumeurs, un pour chaque type de cancer pris en charge qui gèrent les études cliniques et les adaptations des protocoles de soin.
    Des attachés de recherche clinique ( ARC) collectent les données qui sont analysées et centralisées à Gustave Roussy.
    </p>
  </div>
  <div class="row col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justified">
    <p>Il y a 5 types de cancer qui sont traités sous protocole GFAOP.
      Ils représentent environ 70 % des cancers locaux et sont de bon pronostic quand ils sont traités suffisamment tôt :
    </p>
  </div>
  <div class="row col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justified">
    <ul>
      <li>• Le néphroblastomes (cancer du rein)</li>
      <li>• Le rétinoblastome (cancer de l’œil)</li>
      <li>• Les leucémies aigües lymphoblastiques</li>
      <li>• La maladie de Hodgkin</li>
      <li>• Le lymphome de Burkitt</li>
    </ul>
  </div>
</div>


<hr class="separator"></hr>



<div class="container">
  <div class="text-center">
    <h3>Les Comités De Tumeurs</h3>
  </div>
</div>

<div class="container">
  <div class="small-vertical-spacer"></div>

  <div class="row text-center">

    <div class="col-md-4 col-md-offset-2">
      <div class="thumbnail noborder cream">
        <div class="caption" style="height:14em">
            <h4>Comité Burkitt</h4>
            <h5>Coordinateur : Maria El Kababri (Rabat, Maroc)</h5>
            <h5>Data manager : Marie-Anne Raquin (IGR, France)</h5>
            <h5>Secrétaire : Angèle Pondy (Yaoundé, Cameroun)</h5>
            <h5>Expert: Catherine Patte (IGR, France)</h5>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="thumbnail noborder cream">
        <div class="caption"  style="height:14em">
          <h4>Comité Néphroblastome</h4>
          <h5>Coordinateur : Claude Moreira (Dakar, Sénégal)</h5>
          <h5>Data manager : Brenda Mallon (IGR, France)</h5>
          <h5>Secrétaire : Jean Jacques Atteby (Treichville, Côte d’Ivoire)</h5>
          <h5>Expert: Catherine Patte (IGR, France)</h5>
        </div>
      </div>
    </div>

  </div>

  <div class="row text-center">
  <hr class="separator"></hr>

    <div class="col-md-4">
      <div class="thumbnail noborder cream">
        <div class="caption"  style="height:14em">
          <h4>Comité Rétinoblastome</h4>
          <h5>Coordinateur : Fousseyni Traoré (Bamako, Mali)</h5>
          <h5>Expert : Pierre Bey (Curie, France)</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail noborder cream">
        <div class="caption"  style="height:14em">
          <h4>Comité Lymphome Hodgkinien</h4>
          <h5>Coordinateur : Christine Edan (Rennes, France)</h5>
          <h5>Data manager : Souad Nafa (IGR, France)</h5>
          <h5>Expert : Odile Oberlin</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail noborder cream">
        <div class="caption"  style="height:14em">
          <h4>Comité Leucémie Aigue Lymphoblastique</h4>
          <h5>Coordinateur : Marie Dominique Tabone</h5>
          <h5>Data manager : Unité de Recherche Clinique (Trousseau, France)</h5>
          <h5>Expert : Guy Leverger (hôpital Armand Trousseau)</h5>
        </div>
      </div>
    </div>

  </div>
</div>

<hr class="separator"></hr>

<div class="container">
  <!-- <div class="row text-center">
    <div class="col-sm-6">
      <%= image_tag "actiontumeurs1.png", class:"noborder img-thumbnail", width: 300, alt:"enfant" %>
      <p></p>
    </div>

    <div class="col-sm-6">
      <%= image_tag "actiontumeurs3.png", class:"noborder img-thumbnail", width: 300, alt:"enfant" %>
    </div>
  </div> -->

  <div class="small-vertical-spacer"></div>

  <div class="row text-center">
    <div class="col-md-10 col-md-offset-1">
      <h4> Les études cliniques menées depuis la création du GFAOP montrent des résultats encourageants. <br> <br></h4>
    </div>
  </div>

  <div class="row text-justified">
    <div class="col-sm-6">
      <p> Ainsi, pour les Burkitt et les néphroblastomes, deux études successives réalisées entre 2000 et 2009 indiquent les taux de survie suivants :</p>
      <p>-  60% pour les Lymphomes de Burkitt (étude dirigée par le Professeur Catherine Patte de l’IGR et le Docteur Maria El Kababri de Rabat)</p>
      <p>-  70% pour les néphroblastomes ou tumeurs du rein (étude dirigée par le Professeur Catherine Patte de l’IGR et le Professeur Claude Moreira de Dakar).</p>
      <p>-  Pour la maladie de Hodgkin, la survie globale est de 82% dans notre étude 2006-2012 sur 89 cas.</p>
    </div>

    <div class="col-sm-6">
      <p>-  Pour les leucémies lymphoblastiques aigües (LAL),  la dernière étude menée par le GFAOP,  avec l’expertise du professeur Guy Leverger de l’hôpital Armand Trousseau à Paris , montre en Afrique sub-saharienne un taux de survie sans maladie de 60% à la fin du traitement dont la durée totale est de deux ans.</p>
      <p>-  Pour les rétinoblastomes, les résultats à Bamako, seule UP pour laquelle nous ayons un peu de recul avec 112 cas observés depuis le lancement du programme en octobre 2011, comportent une augmentation des formes intraoculaires à 70% actuellement, avec plus de 90% de guérison. Ils comportent aussi un début des traitements conservateurs dans les formes bilatérales. Tous les enfants énucléés ont eu une prothèse.</p>
    </div>
  </div>

</div>

<div class="wrapper-51">
</div>

<div class="text-center">
  <div class="verysmall-vertical-spacer"></div>
  <%= image_tag "envoi.png", width: 50, alt:"formation" %>
  <h2 style="color: #f96634;" >ENVOI DE MEDICAMENTS ET DE MATERIEL</h2>
</div>

<div class="container">
  <div class="row text-center">
    <p>Plus de 1000 enfants sont traités annuellement dans les unités pilote.
      Le GFAOP fait don aux Unités subsahariennes des médicaments anticancéreux requis. Ce poste est le plus lourd sur le plan financier puisqu’il représente environ 150 000 euros par an mais il reste encore actuellement indispensable pour certains pays.
    </p>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-6">
      <%= image_tag "actionmedicament1.png", class:"noborder img-thumbnail", width: 340, alt:"enfant" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag "actionmedicament2.png", class:"noborder img-thumbnail", width: 260, alt:"enfant" %>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="wrapper-51">
</div>

<div class="text-center">
  <div class="verysmall-vertical-spacer"></div>
  <%= image_tag "maison2x.png", width: 50, alt:"formation" %>
  <h2 style="color: #f96634;">ACCOMPAGNEMENT</h2>
</div>

<div class="container">
  <div class="row text-center">
    <h3>LES INFRASTRUCTURES</h3>
  </div>

  <div class="row text-center">
    <h4>La rénovation des services et l’équipement des unités </h4>
  </div>

  <div class="row text-center">
    <p>De nombreux services d’oncologie pédiatriques ont déjà bénéficié de rénovations partielles ou totales  grâce au travail conjoint de la direction des hôpitaux locaux  soutenu par le  GFAOP .
  Néanmoins il reste beaucoup à faire…
    </p>
  </div>
</div>


<div class="container">

  <div class="small-vertical-spacer"></div>

  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <%= image_tag "actionaccomp3.png", class:"noborder img-thumbnail", width: 200, alt:"enfant" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag "actionaccomp2.png", class:"noborder img-thumbnail", width: 300, alt:"enfant" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag "actionaccomp1.png", class:"noborder img-thumbnail", width: 300, alt:"enfant" %>
    </div>
  </div>

  <div class="row text-center">

    <div class="small-vertical-spacer"></div>

    <div class="col-md-6 ">
      <div class="thumbnail noborder cream">
        <div class="caption"  style="height:16em">
          <h4>• Les salles d’Unité de préparation et les hottes à flux laminaire</h4>
          <p>Il est indispensable que des salles puissent être dédiées à la préparation des médicaments. En effet, les conditions réglementaires de sécurité ne sont aujourd’hui pas respectées faute d’aménagements spécifiques ; les préparations se font « au pied du lit » La salle doit disposer d’une hotte et de renouvellement d’air afin d’éviter la suspension dans l’air des particules de médicaments en préparation et ainsi leur inhalation par le personnel ou les malades et la perte de substances actives.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="thumbnail noborder cream">
        <div class="caption"  style="height:16em">
          <h4>• Les équipements d’anatomopathologie  pour mieux assurer les diagnostics</h4>
          <p>Pour confirmer les diagnostics et  adapter les traitements au mieux, il serait nécessaire qu’une double lecture soit possible grâce à la télétransmission ( à mettre en place) des unités d’Afrique sub saharienne vers les collègues français mais cela nécessite un microscope permettant d ‘adapter un appareil photo numérique.</p>
        </div>
      </div>
    </div>


  </div>
</div>

  <hr class="separator"></hr>

<div class="container">
  <div class="row text-center">
    <h3>ACCOMPAGNEMENT DES FAMILLES</h3>
  </div>
</div>


<div class="container">

  <div class="row">
    <h3>Les Maisons des parents</h3>
    <br>
    <p><b>C’est un point essentiel dans la prise en charge des enfants et de leurs familles. En effet, le traitement de la maladie est long de 6 à 12 mois.</b></p>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= image_tag "maison1.png", class:"noborder img-thumbnail", width: 400, alt:"enfant" %>
    </div>

    <div class="col-md-9">

      <br>
      <p>
      Pour des raisons financières les familles restent sur place pendant  les intercures, soit dans l’hôpital (auquel cas on manque de lits pour les nouveaux patients) soit autour de l’hôpital dans des conditions misérables. <br>Parfois, les familles décident de rentrer au village mais beaucoup n’ont ni le courage ni les moyens de refaire le voyage et de revenir à l’hôpital. De nombreux enfants sont ainsi dit « Perdus de vue »<br>
      Ces « Maisons d’accueil des Parents », sont faites pour  recevoir ces enfants et un membre de leur famille pendant toute la durée du traitement, permettant ainsi de limiter les abandons en cours de traitement et d’offrir  une  réelle amélioration des conditions de vie des familles. <br>
      En Afrique Sub saharienne, seule l’UP de Côte d’Ivoire a une maison des parents, des projets sont en cours pour les autres services.
      </p>
    </div>

  </div>



  <div class="row">
    <h3>Le Programme AIDAF</h3>
    <br>
    <p><b>Pour l’amélioration de l’information aux familles et leur accompagnement :
      "L’annonce du diagnostic dans les unités d’oncologie pédiatrique africaines"</b></p>
    <br>
  </div>

  <div class="row">

    <div class="col-md-3">
      <%= image_tag "aidaf.png", class:"noborder img-thumbnail", width: 200, alt:"enfant" %>
    </div>
      <br>
      <p>
        Le moment de l’annonce du diagnostic est excessivement difficile pour les familles, et il l’est aussi pour les médecins chargés de l’effectuer.<br> Malgré cela, l’annonce d’un diagnostic de cancer doit être considérée comme un moment stratégique, pouvant clairement influencer la suite du traitement.<br> Cette affirmation est encore plus vraie pour des unités d’oncologie pédiatrique africaines, où les spécificités socioéconomiques et culturelles font qu’une famille sur quatre abandonne le traitement en cours.<br> De ce fait, il faut réaliser que le parent que l’on rencontre pour lui annoncer le diagnostic de cancer est aussi susceptible de déserter avec son enfant malade.<br> Au-delà des raisons économiques, ces abandons sont liés à la méconnaissance de la maladie et du traitement ou à l’influence des croyances locales.<br>
        Un guide d’annonce a été réalisé, il doit être suivi de films de mise en situation à destination du personnel des UP et des familles.
      </p>
  </div>

</div>

<hr class="separator"></hr>

<div class="container">
  <div class="row text-center">
    <h3>ACCOMPAGNEMENT DES POLITIQUES DE SANTE PUBLIQUE</h3>
  </div>
</div>


<div class="container">
  <div class="row">
    <p><b>Le cancer de l’enfant, un problème de santé publique qui commence à mobiliser les personnalités politiques et les organismes internationaux.</b></p>
  </div>

  <div class="row">
    <div class="col-md-3 text-center">
      <br>
      <%= image_tag "politique.png", class:"noborder img-thumbnail", width: 250, alt:"enfant" %>
    </div>

    <div class="col-md-9">
      <p>Depuis 15 ans,  le GFAOP travaille sur le terrain, les équipes ont prouvé que malgré des conditions difficiles et   très peu de moyens,  de bons résultats étaient obtenus et qu’ainsi,  même en Afrique, les enfants pouvaient être guéris.<br>
        Le GFAOP accompagne la mise en place de politiques de santé publique, développe des campagnes d’information pour le diagnostic précoce et l’ information des professionnels de santé locaux.<br>
        De nombreuses personnalités ont visité les unités du  GFAOP :<br><br>
      </p>
      <p style="font-style:italic">
        SAR la Princesse Lalla Salma, Présidente de la « Fondation Lalla Salma, accompagnée par Mme Dominique Ouattara, Première Dame de Côte d’Ivoire, et de Mme Bernadette Chirac, Présidente de la Fondation des Hôpitaux de Paris – Hôpitaux de France, au CHU de Marrakech.
      </p>
    </div>

  </div>


</div>
