<% content_for :title, "L'association" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<div class="verysmall-vertical-spacer">
</div>

<div class="wrapper-2 hidden-xs">
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
  <h2>PRESENTATION DE L'ASSOCIATION</h2>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
</div>

<div class="wrapper-2 visible-xs">
  <div class="small-vertical-spacer"></div>
    <h2>PRESENTATION DE L'ASSOCIATION</h2>
  <div class="small-vertical-spacer"></div>
</div>

<div class="small-vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-5 col-xs-5">
      <%= image_tag "associationenfant2.jpg", class:"noborder img-thumbnail", width: 600, alt:"enfant" %>
    </div>
    <div class="col-md-9 col-sm-7 col-xs-7 text-justified">
        <p> Dans les pays développés les cancérologues pédiatres ont construit des communautés collaboratives qui ont permis un progrès formidable dans la prise en charge des cancers chez l’enfant. Les enfants dans ces pays ont non seulement pu bénéficier de chances significatives de guérison atteignant 75 à 80% mais
        l’approche a dépassé l’exigence de guérison pour embrasser les problématiques de  qualité de vie pendant et après le traitement.
          Parallèlement, les enfants des pays en voie de développement qui constituent  75 à 80 % des enfants de la planète, en particulier en Afrique, continuent de mourir massivement par manque de moyens, manque d’offre de soins qualifiés et dysfonctionnements du système de santé.
        </p>
    </div>
  </div>
</div>


<div class="small-vertical-spacer">
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-5 col-xs-5">
      <%= image_tag "associationenfant.jpg", class:"noborder img-thumbnail", width: 700, alt:"enfant" %>
    </div>
    <div class="col-md-9 col-sm-7 col-xs-7 text-justified">
        <p>
          C’est dans ce contexte, et malgré toutes les contraintes attendues, que le Pr Jean Lemerle, après une belle carrière dans le développement de la cancérologie en France et dans le monde, a entrepris de créer en 2000  un groupe de travail pour développer la prise en charge du cancer de l’enfant en Afrique.

          Le Groupe Franco-Africain d’Oncologie Pédiatrique (GFAOP) hébergé à l’institut Gustave-Roussy, regroupe des médecins français et africains et a  pour objectif la mise en place d’unités dites unités pilotes (UP). Ces dernières ont les compétences et les moyens de prendre en charge le maximum d’enfants africains atteints de cancers selon des procédures diagnostiques et thérapeutiques adaptées au contexte local. C’est ainsi,  qu’un programme volontariste a été mis en place, les actions du groupe se sont orientées dans diverses directions :
        </p>
        <ul>
          <li>• formation de médecins et infirmiers ;</li>
          <li>• mise en place des protocoles diagnostiques et thérapeutiques adaptés ;</li>
          <li>• collecte et traitement de données ;</li>
          <li>• aménagement de locaux pour la pratique d’oncologie pédiatrique ;</li>
          <li>• achat de médicaments ;</li>
        </ul>
    </div>
  </div>
</div>


<div class="small-vertical-spacer"></div>


<div class="container">
  <div class="row text-justified">
    <p>Afin d’atteindre ces objectifs, un comité de soutien a été mis en place dans le but de récolter les fonds nécessaires. Initiée avec 8 UP dans six pays (Algérie, Cameroun, Madagascar, Maroc, Sénégal et Tunisie), d’autres UP ont par la suite été mises en place au Burkina Faso, Mali, Mauritanie, Côte d’Ivoire, République Démocratique du Congo, Togo. Aujourd’hui, on compte 15 UP couvrant la plus grande part de l’Afrique francophone.</p>
  </div>
</div>


<div class="small-vertical-spacer"></div>


<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-5 col-xs-5">
      <%= image_tag "associationenfant3.jpg", class:"noborder img-thumbnail", width: 600, alt:"enfant" %>
    </div>
    <div class="col-md-9 col-sm-7 col-xs-7 text-justified">
        <p>
          Aujourd'hui, ce sont 5 des cancers les plus fréquents en Afrique et de meilleurs pronostiques qui sont pris en charge avec des protocoles GFAOP: <br>

          - Lymphome de Burkitt <br>
          - Néphroblastome <br>
          - Leucémie Aigüe Lymphoblastique <br>
          - Rétinoblastome <br>
          - Maladie de Hodgkin <br>
          <br>
        </p>

    </div>

    <div class="col-md-12">
        <p>
          <br>
          Le GFAOP a démontré qu’il était possible, même dans des conditions difficiles, d’offrir aux enfants des soins adaptés lorsque l’engagement s’inscrit dans la durée. Il a démontré aussi que même en Afrique, on pouvait faire de la recherche clinique de manière prospective et multicentrique.
          Il s’agit d’un véritable message d’espoir.
          Suite à la disparition de Jean Lemerle en 2014, le GFAOP, fort de son expérience et de son savoir-faire se doit de continuer à œuvrer à sa manière pour un monde plus équitable.
          Un des défis majeurs est le développement des compétences africaines afin de pérenniser et développer les soins. La création récente de l’école africaine d’oncologie pédiatrique  pour le diagnostic et le traitement des cancers et la création du diplôme franco marocaine de cancérologie pédiatrique  ont pour objectif de répondre à ce défi.
        </p>
    </div>

  </div>
</div>


<hr class="bigseparator"></hr>



<div class="container">
  <div class="row">
    <div class="text-center">
      <h2>L'EQUIPE</h2>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="container">

  <div class="row text-center">
      <h3>Le Conseil d'Administration</h3>
  </div>


  <div class="row text-center">
    <div class="small-vertical-spacer"></div>

    <div class="col-md-6">

      <div class="thumbnail noborder cream">
        <div class="caption">
          <h5>Professeur M'hamed HARIF, CASABLANCA, Directeur d'hôpital- Hôpital Cheikh Khalifa Casablanca</h5>
          <h5>Docteur Catherine PATTE, VILLEJUIF Gustave Roussy, Pédiatrie</h5>
          <h5>Professeur Guy LEVERGER, PARIS Hôpital Armand Trousseau, Chef du Pôle Oncologie-Hématologie des Hôpitaux Universitaires Est Parisien</h5>
          <h5>Professeur Pierre BEY, PARIS Curie</h5>
          <h5>Docteur Laïla HESSISSEN, RABAT Hôpital d'Enfants de Rabat, Service d'Hémato-oncologie pédiatrique</h5>
          <h5>Docteur Jean MICHON, PARIS Institut Curie, Chef du Département d'O. P.</h5>
          <h5>Docteur Carole COZE, CHU Marseille, Onco-Hématologie Pédiatrique</h5>
          <h5>Professeur Nicolas SIRVENT, CHU Montpellier, Onco-Hématologie Pédiatrique</h5>
          <h5>Docteur Rachid, BEKKALI RABAT, Fondation Lalla Salma</h5>
          <h5>Docteur Antoine CROUAN, VILLEJUIF Gustave Roussy, Directeur Ecole des Sciences du Cancer</h5>
        </div>
      </div>

      <div class="thumbnail noborder cream">
        <div class="caption">
          <h5>Comité de Soutien, Mr Louis OMER-DECUGIS, GFAOP, Paris</h5>
          <h5>Comité de Soutien, Mr Pierre ROGER-MACHART, GFAOP, Paris</h5>
          <h5>Data Manager, Mme Brenda MALLON, VILLEJUIF Gustave Roussy</h5>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="thumbnail noborder cream">
        <div class="caption">
          <h5>UP Abidjan Docteur Line COUITCHERE ABIDJAN CHU de Treichville Servcie de Pédiatrie</h5>
          <h5>UP Alger Professeur Anissa TRABZI ALGER Centre Pierre et Marie Curie Hématologie pédiatrique</h5>
          <h5>UP Antananarivo Docteur Mbola RAKOTOMAHEFA ANTANANARIVO Groupe Hosp. Mère et Enfant Tsaralanana Service Oncologie Pédiatrique</h5>
          <h5>UP Bamako Professeur Boubacar TOGO BAMAKO Hôpital Gabriel Touré Service de Pédiatrie</h5>
          <h5>UP Casablanca Professeur Abdellah MADANI CASABLANCA CHU Ibn Rochd Unité d'oncologie pédiatrique</h5>
          <h5>UP Dakar Professeur Claude MOREIRA DAKAR Hôpital Aristide Le Dantec Service de Pédiatrie</h5>
          <h5>UP Lomé Professeur Adama GBADOE LOME CHU Sylvanus Olympio Unité Infectiologie et Onco-pédiatrie</h5>
          <h5>Mme Marie-Solange DOUCOT, Infrmière, Paris</h5>
          <h5>UP Lubumbashi Docteur Robert LUKAMBA LUBUMBASHI Cliniques Universitaires de Lubumbashi Service de Pédiatrie</h5>
          <h5>UP Nouakchott Docteur Ekhtelbenina ZEIN NOUAKCHOTT Centre Hospitalier National Unité d'hémato-oncologie pédiatrique</h5>
          <h5>UP Ouagadougou Professeur Olga LOMPO GOUMBRI OUAGADOUGOU CHU Yalgado Ouédraogo Anatomie Pathologique</h5>
          <h5>UP Rabat Professeur Mohammed KHATTAB RABAT Hôpital enfants de Rabat Chef du Service d'Hématologie et Oncologie Pédiatrique</h5>
          <h5>UP Tunis Professeur Sihem BARSAOUI TUNIS Hôpital des Enfants de Tunis Médecine infantile-Unité d'Oncologie pédiatrique</h5>
          <h5>UP Yaoundé Docteur Angèle PONDY YAOUNDE Centre Mère et Enfant - Fondation Chantal Biya Service d'Hémato-Oncologie</h5>
          <h5>UP Fès Docteur Sarra Benmiloud - CHU Hassan II</h5>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="wrapper-3">
</div>


<hr class="bigseparator"></hr>



<div class="cream">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <h2>Le Bureau</h2>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row text-center">
    <hr class="separator"></hr>

      <div class="col-md-3">
        <div class="thumbnail noborder">
          <div class="caption" style="height:21em">
            <%= image_tag "mharif.jpg", class:"noborder img-thumbnail", width: 100, alt:"mharif" %>
            <h4>Président</h4>
            <h4>Professeur M’hamed HARIF</h4>
            <h5>Hôpital Cheikh Khalifa, Casablanca, Maroc</h5>
            <h6>m.harif@menara.ma</h6>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail noborder">
          <div class="caption" style="height:21em">
            <%= image_tag "cp.png", class:"noborder img-thumbnail", width: 100, alt:"mharif" %>
            <h4>Vice-Président</h4>
            <h4>Docteur Catherine PATTE</h4>
            <h5>Gustave Roussy, Villejuif, France</h5>
            <h6>catherine.patte@gustaveroussy.fr</h6>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail noborder">
          <div class="caption" style="height:21em">
            <%= image_tag "pb.png", class:"noborder img-thumbnail", width: 100, alt:"mharif" %>
            <h4>Vice-Président</h4>
            <h4>Professeur Pierre BEY</h4>
            <h5>Institut Curie, Paris, France</h5>
            <h6>pierre.bey@curie.net</h6>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail noborder">
          <div class="caption" style="height:21em">
            <%= image_tag "GL.png", class:"noborder img-thumbnail", width: 100, alt:"mharif" %>
            <h4>Vice-Président</h4>
            <h4>Professeur Guy LEVERGER</h4>
            <h5>Hôpital Armand Trousseau, Paris, France</h5>
            <h6>guy.leverger@trs.aphp.fr</h6>
          </div>
        </div>
      </div>

    </div>


    <div class="row text-center">

      <div class="col-md-3">
        <div class="thumbnail noborder">
          <div class="caption" style="height:21em">
            <%= image_tag "LH.png", class:"noborder img-thumbnail", width: 100, alt:"mharif" %>
            <h4>Secrétaire générale</h4>
            <h4>Professeur Laïla HESSISSEN</h4>
            <h5>Hôpital des Enfants, Rabat, Maroc</h5>
            <h6>lailahsn@gmail.com</h6>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="thumbnail noborder">
          <div class="caption" style="height:21em">
            <%= image_tag "lod.jpg", class:"noborder img-thumbnail", width: 130, alt:"mharif" %>
            <h4>Trésorier</h4>
            <h4>M. Louis OMER-DECUGIS</h4>
            <h5>Chef d'entreprise, Paris, France</h5>
            <h6>lod@siim.net</h6>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail noborder">
          <div class="caption" style="height:21em">
            <%= image_tag "photofousseyni.jpg", class:"noborder img-thumbnail", width: 100, alt:"ftraoré" %>
            <h4>Membre</h4>
            <h4>Docteur Fousseyni TRAORE</h4>
            <h5>Hôpital Gabriel Touré, Bamako, Mali</h5>
            <h6>drfousseynitraore@gmail.com</h6>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail noborder">
          <div class="caption" style="height:21em">
            <%= image_tag "jja.jpg", class:"noborder img-thumbnail", width: 100, alt:"mharif" %>
            <h4>Membre</h4>
            <h4>M. Jean-Jacques ATTEBY</h4>
            <h5>CHU de Treichville, Abidjan, Côte d'Ivoire</h5>
            <h6>attebyjj@yahoo.fr</h6>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<hr class="bigseparator"></hr>


<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h2>Le Comité de Soutien</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="small-vertical-spacer">
    </div>

    <p class="text-center">Il assiste et aide le bureau, participe à la recherche de financements et gère la logistique des différentes actions du groupe.</p>
  <hr class="separator"></hr>

    <ul>
      <li><b>Louis Omer-Decugis :</b> Présidence du Comité &nbsp;I &nbsp; <b>Lod@siim.net</b></li>

      <li><b>Pierre Roger-Machart :</b> Trésorerie &nbsp;I&nbsp; <b>Pierre.roger-machart@gfaop.org</b></li>

      <li><b>Guy Jaquet :</b> Trésorier adjoint &nbsp;I&nbsp; <b>Jacquet17@free.fr</b></li>
      <li><b>Corinne Chalvon Demersay :</b> Communication et partenariats &nbsp;I&nbsp; <b>Corinne.chalvon-demersay@gfaop.org</b></li>
      <li><b>Sylvain Anstett :</b> Informatique &nbsp;I&nbsp; <b>Sylvain.anstett@gfaop.org</b></li>

      <li><b>Roger Ernoul :</b> Traitement des données, Comptabilité, Contrôle de gestion &nbsp;I&nbsp; <b>Roger.ernoul@gfaop.org</b></li>

      <li><b>Robert Hatuel :</b> Plan de progrès Informatique, Plan de progrès anapath &nbsp;I&nbsp; <b>Robert.hatuel@gfaop.org</b></li>

      <li><b>Marinette Courbart :</b> Pharmacien &nbsp;I&nbsp; <b>Marinette.courbard@gfaop.org</b></li>

      <li><b>Michel Hugon :</b> Matériel médical et consommables &nbsp;I&nbsp; <b>Michel.hugon@gfaop.org</b></li>

      <li><b>Anne Marie Brun :</b> Manifestations extérieures &nbsp;I&nbsp; <b>Brunannemarie@gmail.com</b></li>
      <li><b>Chantal Thinlot :</b> Programmes infirmiers &nbsp;I&nbsp; <b>Chantal-thinlot@orange.fr</b></li>
      <li><b>Daniel Ter Minassian :</b> Responsable études Cliniques &nbsp;I&nbsp; <b>termind@club-internet.fr</b></li>

    </ul>

  </div>
</div>


<hr class="separator"></hr>


<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h2>Les Comptes</h2>
    </div>
  </div>
</div>


<div class="small-vertical-spacer"></div>




<div class="container">
  <div class="row text-center">
      <h3>Tableau des Recettes</h3>
      <%= image_tag "compte1.jpg", class:"noborder img-thumbnail", width: 1000, alt:"enfant" %>
  </div>
</div>


<div class="small-vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
      <h3>Tableau des Dépenses</h3>
      <%= image_tag "compte2.jpg", class:"noborder img-thumbnail", width: 1000, alt:"enfant" %>
  </div>
</div>

<hr class="separator"></hr>
