<div class="container cream">
  <div class="row text-center">
    <h2 class="mx-auto">Le Bureau</h2>
  </div>
  <div class="row text-center">
    <div class="col-md-3">
      <div class="thumbnail noborder">
        <div class="caption" style="height:21em">
          <%= image_tag "mharif.jpg", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
          <h4>Président</h4>
          <h4>Professeur M’hamed HARIF</h4>
          <h5>Hôpital Cheikh Khalifa, Casablanca, Maroc</h5>
          <h6>m.harif@menara.ma</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail noborder">
        <div class="caption" style="height:21em">
          <%= image_tag "cp.png", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
          <h4>Vice-Président</h4>
          <h4>Docteur Catherine PATTE</h4>
          <h5>Gustave Roussy, Villejuif, France</h5>
          <h6>catherine.patte@gustaveroussy.fr</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail noborder">
        <div class="caption" style="height:21em">
          <%= image_tag "pb.png", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
          <h4>Vice-Président</h4>
          <h4>Professeur Pierre BEY</h4>
          <h5>Institut Curie, Paris, France</h5>
          <h6>pierre.bey@curie.net</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail noborder">
        <div class="caption" style="height:21em">
          <%= image_tag "GL.png", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
          <h4>Vice-Président</h4>
          <h4>Professeur Guy LEVERGER</h4>
          <h5>Hôpital Armand Trousseau, Paris, France</h5>
          <h6>guy.leverger@trs.aphp.fr</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3">
      <div class="thumbnail noborder">
        <div class="caption" style="height:21em">
          <%= image_tag "LH.png", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
          <h4>Secrétaire générale</h4>
          <h4>Professeur Laïla HESSISSEN</h4>
          <h5>Hôpital des Enfants, Rabat, Maroc</h5>
          <h6>lailahsn@gmail.com</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail noborder">
        <div class="caption" style="height:21em">
          <%= image_tag "lod.jpg", class:"borderless rounded img-thumbnail", width: 130, alt:"mharif" %>
          <h4>Trésorier</h4>
          <h4>M. Louis OMER-DECUGIS</h4>
          <h5>Chef d'entreprise, Paris, France</h5>
          <h6>lod@siim.net</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail noborder">
        <div class="caption" style="height:21em">
          <%= image_tag "photofousseyni.jpg", class:"borderless rounded img-thumbnail", width: 100, alt:"ftraoré" %>
          <h4>Membre</h4>
          <h4>Docteur Fousseyni TRAORE</h4>
          <h5>Hôpital Gabriel Touré, Bamako, Mali</h5>
          <h6>drfousseynitraore@gmail.com</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail noborder">
        <div class="caption" style="height:21em">
          <%= image_tag "jja.jpg", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
          <h4>Membre</h4>
          <h4>M. Jean-Jacques ATTEBY</h4>
          <h5>CHU de Treichville, Abidjan, Côte d'Ivoire</h5>
          <h6>attebyjj@yahoo.fr</h6>
        </div>
      </div>
    </div>
  </div>
</div>