<div class="container">
  <h2 class="text-center py-3">Le Bureau</h2>
  <div class="row text-center">
    <div class="col-md-3 cream rounded m-3 ml-md-auto">
      <h5 class="py-2">Président</h5>
      <h5>Professeur M’hamed HARIF</h5>
      <h6>Hôpital Cheikh Khalifa, Casablanca, Maroc</h6>
      <p>m.harif@menara.ma</p>
      <%= image_tag "mharif.jpg", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
    </div>
    <div class="col-md-3 cream rounded m-3">
      <h5 class="py-2">Vice-Président</h5>
      <h5>Docteur Catherine PATTE</h5>
      <h6>Gustave Roussy, Villejuif, France</h6>
      <p>catherine.patte@gustaveroussy.fr</p>
      <%= image_tag "cp.png", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
    </div>
    <div class="col-md-3 cream rounded m-3 mr-md-auto">
      <h5 class="py-2">Vice-Président</h5>
      <h5>Professeur Pierre BEY</h5>
      <h6>Institut Curie, Paris, France</h6>
      <p>pierre.bey@curie.net</p>
      <%= image_tag "pb.png", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3 cream rounded m-3 ml-md-auto">
      <h5 class="py-2">Vice-Président</h5>
      <h5>Professeur Guy LEVERGER</h5>
      <h6>Hôpital Armand Trousseau, Paris, France</h6>
      <p>guy.leverger@trs.aphp.fr</p>
      <%= image_tag "GL.png", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
    </div>
    <div class="col-md-3 cream rounded m-3">
      <h5 class="py-2">Secrétaire générale</h5>
      <h5>Professeur Laïla HESSISSEN</h5>
      <h6>Hôpital des Enfants, Rabat, Maroc</h6>
      <p>lailahsn@gmail.com</p>
      <%= image_tag "LH.png", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
    </div>
    <div class="col-md-3 cream rounded m-3 mr-md-auto">
      <h5 class="py-2">Trésorier</h5>
      <h5>M. Louis OMER-DECUGIS</h5>
      <h6>Chef d'entreprise, Paris, France</h6>
      <p>lod@siim.net</p>
      <%= image_tag "lod.jpg", class:"borderless rounded img-thumbnail", width: 130, alt:"mharif" %>
    </div>
  </div>
  <div class="row text-center"> 
    <div class="col-md-3 cream rounded m-3 ml-md-auto">
      <h5 class="py-2">Membre</h5>
      <h5>Docteur Fousseyni TRAORE</h5>
      <h6>Hôpital Gabriel Touré, Bamako, Mali</h6>
      <p>drfousseynitraore@gmail.com</p>
      <%= image_tag "photofousseyni.jpg", class:"borderless rounded img-thumbnail", width: 100, alt:"ftraoré" %>
    </div>
    <div class="col-md-3 cream rounded m-3 mr-md-auto">
      <h5 class="py-2">Membre</h5>
      <h5>M. Jean-Jacques ATTEBY</h5>
      <h6>CHU de Treichville, Abidjan, Côte d'Ivoire</h6>
      <p>attebyjj@yahoo.fr</p>
      <%= image_tag "jja.jpg", class:"borderless rounded img-thumbnail", width: 100, alt:"mharif" %>
    </div>
  </div>
</div>