<div class="wrapper wrapper-5">
  <h1 class="pt-5">LA FORMATION</h1>
</div>
<div class="container">
  <div class="row mx-auto text-justify py-3">
    Pour accueillir le nombre croissant d’enfants atteints de cancer dans chaque pays, il est indispensable d’augmenter les capacités de formation en prenant en compte les besoins de chaque pays (formations centralisées et décentralisées).
    C’est ainsi qu’est née l’Ecole Africaine d’Oncologie Pédiatrique du GFAOP dont la mission est la mise en place de nombreuses formations dont certaines diplômantes ou certifiantes. 
    En 16 ans, plus de 240 médecins et infirmiers africains ont été formés à l’oncologie pédiatrique grâce au GFAOP dans les plus grands services spécialisés  en cancérologie. 
    Les clés de la réussite des ambitieux projets du GFAOP pour les années à venir doivent intégrer : compétences pluridisciplinaires, communication, concertation, et coordination entre tous les partenaires de soins, y compris les parents.
    Ainsi, en complément à la formation des pédiatres oncologues et d’autres médecins spécialistes (chirurgiens, anatomopathologistes, ophtalmologistes, radiothérapeutes, pharmaciens…), des infirmiers bénéficient également de formations liées à l’oncologie pédiatrique. Une formation pluridisciplinaire devrait également voir le jour favorisant ainsi le travail en équipe.
    Le développement du E-learning en complément à la formation présentielle est en développement.
  </div>
  <div class="row text-justify cream rounded">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "pierre_et_jean_michon_au_togo.jpg", class:"borderless rounded img-thumbnail", alt:"Pierre et Jean Michon au Togo" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>• Les Stages</h3>
      D’une durée de 15 jours à 2 mois, en France, au Maroc ou dans certaines unités d’Afrique sub-sahariennes, ces stages sont ouverts à différentes disciplines en vue d’acquérir les compétences nécessaires à la pratique de l’oncologie pédiatrique.
      Toutes les disciplines médicales et paramédicales sont concernées.
    </div>
  </div>
  <div class="row text-justify">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "Ndella_Diouf_et_Guy_Leverger.jpeg", class:"borderless rounded img-thumbnail", width: 300, alt:"Ndella Diouf et Guy Leverger" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>• Le Diplôme Inter Universitaire d’Oncologie Pédiatrique (DIUOP) en France</h3>
      Ouvert aux étudiants étrangers en France, la formation d’un an à ce diplôme permet d’acquérir la capacité de prendre en charge les enfants et adolescents présentant une affection maligne dans le cadre de l’exercice multidisciplinaire de l’oncologie pédiatrique.
    </div>
  </div>
  <div class="row text-justify cream rounded">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "formation_oncologie_avec_guy_leverger_au_togo.jpg", class:"borderless rounded img-thumbnail", width: 600, alt:"formation oncologie avec Guy Leverger au Togo" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>• Les sessions de formation à l’oncologie pédiatrique des personnels soignants</h3>
      Destinées à accroitre les capacités de formation du GFAOP, elles ont pour vocation de former chaque année 20 à 30 praticiens pour des spécialités diverses (pédiatrie, chirurgie, anatomopathologie, radiothérapie, soins infirmiers, pharmacie…) mais aussi de proposer un travail pluridisciplinaire indispensable à la bonne prise en cancer de la pathologie.
     </div>
  </div>
    <div class="row text-justify">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "promotion_DUCP.jpg", class:"borderless rounded img-thumbnail", width: 600, alt:"promotion DUCP" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>• Le Diplôme Universitaire de Cancérologie Pédiatrique (DUCP) au Maroc</h3>
      Ce diplôme franco-marocain initié par le GFAOP avec les facultés de médecine de Paris-Sud et de Rabat, se prépare en une année. Ouverte à une vingtaine d’étudiants chaque année, cette formation dispense des cours théoriques et des stages pratiques au Maroc et en France. Elle est destinée à répondre à une demande sans cesse croissante de spécialistes du cancer de l’enfant.
      Un programme soutenu  par un projet « My child Matters » de la Fondation Sanofi Espoir.
    </div>
  </div>
  <div class="row text-justify cream rounded">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "formation_collegiale.jpg", class:"borderless rounded img-thumbnail", width: 600, alt:"la promotion attentive pendant les cours" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>• Les formations collégiales</h3>
      Les formations collégiales ont lieu à l’occasion des rencontres du GFAOP (Conseil d'Administration et Assemblée Générale). Ces réunions rassemblent les médecins des unités pilotes du Maghreb et d’Afrique sub-saharienne.
      Elles constituent un temps fort de formation par les échanges d’expériences qu’elles permettent.
    </div>
  </div>
  <div class="row text-justify">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "mission_ formation.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"lecture d'une radiographie en formation" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>• La formation  des responsables d’Unités Pilotes</h3>
      Le GFAOP est amené à aider les responsables d’Unités Pilotes à acquérir les titres Universitaires de 3ème cycle tels que le Doctorat ès-Sciences ou l’Agrégation de médecine leur permettant d’évoluer dans la hiérarchie de leurs établissements. Une évolution vers les hauts niveaux de l’administration hospitalière Africaine constitue un gage de promotion de l’Oncologie Pédiatrique Africaine.
    </div>
  </div>
  <div class="row text-justify">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "ouverture_unite_pilote_niger.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"les responsables d’Unités Pilotes en formation" %>
    </div>
    <div class="col-md-9 col-12 py-3">  
      <h3>• La formation à l’ouverture des nouvelles unités d’oncologie pédiatrique</h3>
      Après acceptation en AG de la création d’une nouvelle unité, décentralisée en région ou dans un nouveau pays, une formation en binôme médecin/infirmier sur les bonnes pratiques est organisée en France.
    </div>
  </div>
  <div class="row text-justify">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "actionstage2.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"les responsables d’Unités Pilotes en formation" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>• Les missions de formation dans les Unités Pilotes</h3>
      Des membres du GFAOP se rendent régulièrement dans les unités afin de travailler avec les équipes.
    </div>
  </div>
  <div class="row text-justify">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "formation_data_manager.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"formation data manager" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>• Formation des Data Managers</h3>
      Dans le cadre de la mise en place du registre du cancer, la formation du personnel pour la collecte et l’envoi des donnnées permet de réaliser les études cliniques.
    </div>
  </div>
  <div class="row text-justify cream rounded">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "formation_infimier.jpg", class:"borderless rounded img-thumbnail", width: 600, alt:"2 infirmiers" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>• La formation infirmière</h3>
        Si depuis 16 ans des formations ont bénéficié à 85 infirmiers de 13 pays, ces formations restent néanmoins insuffisantes en nombre et en qualité.
        Des progrès très significatifs ont eu lieu dans le traitement des cancers pédiatriques mais les soins infirmiers restent un point faible dans la prise en charge des enfants. 
        Or, ils sont pourtant essentiels pour la mise en œuvre et le suivi rigoureux des traitements.
        A partir de 2014, afin de répondre à l’attente forte qui émanait des différentes unités d’oncologie pédiatrique désireuses de mieux former les infirmières et de les maintenir en poste, 
        une accélération du processus de formation infirmier a été mise en place avec : 
        <ul>
          <li>Une formation théorique et généraliste dans le cadre de l’Ecole Africaine d’Oncologie Pédiatrique sur « les fondamentaux en cancérologie » 
              Cette formation de base d’une semaine, en groupe, est destinée aux infirmiers formateurs. Elle est amenée à se développer.
          </li>
          <li>Une formation « Douleur et soins palliatifs » 
              Les équipes du GFAOP sont trop souvent démunies dans la prise en charge de la douleur faute de formation et de médicaments. Il s’est donc avéré indispensable d’assurer une formation adéquate en binôme médecin-infirmier. 
          </li>
          <li>
            Les bourses « Laurette Fugain » : depuis 2014, 2 bourses sont attribuées à des infirmiers des unités pilotes. Ces derniers bénéficient de stages de 2 mois en France dans les services les plus prestigieux .
          </li>
        </ul>
        Dans le cadre du projet de développement du GFAOP à 5 et 10 ans, nous estimons avoir à former pour les unités pilotes du Maghreb et d’Afrique au moins 50 infirmièr(e)s par an.
      </div>
  </div>
  <div class="row text-justify">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "conference_douleur_et_soins.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"conference douleur et soins" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>Les formations "Douleur et Soins palliatifs"</h3>
      Grâce aux progrès thérapeutiques au cours des ces dernières années, les enfants guérissent du cancer. 
      En parallèle, les soins de support se sont développés pour améliorer la prise en charge des symptômes, en particulier la douleur, à toutes les phases du traitement. 
      Il est important d'apporter ces pratiques en Afrique où la douleur reste peu prise en charge.
      La Fondation Sanofi Espoir à travers le programme "My Child Matters" soutient ce projet sur 3 ans.
    </div>
  </div>
  <div class="row text-justify">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "formation_personnel_de_santé.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"personnel de santé en formation" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>Formation des personnels de santé pour le diagnostic précoce</h3>
      Afin de permettre l’arrivée des enfants suffisamment tôt dans les services d’oncologie pédiatrique, des personnels de santé seront formés pour relayer l’information auprès des centres de santé en ville et dans les zones reculées.
    </div>
  </div>
  <div class="row text-justify">
    <div class="col-md-3 col-12 text-center">
      <%= image_tag "Fatou_et_Fouss.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"Fatou et Fouss traitant l'oeil" %>
    </div>
    <div class="col-md-9 col-12 py-3">
      <h3>Les autres spécialités médicales</h3>
      Si des chirurgiens et des pathologistes sont présents dans tous les pays d’Afrique sub-saharienne francophone, ils sont en nombre insuffisant et doivent faire face à des activités multiples, la cancérologie pédiatrique n’en représentant qu’une petite partie. 
      Or ces 2 activités sont capitales dans la prise en charge pluridisciplinaire des enfants atteints de cancers. Il faut continuer à offrir les formations complémentaires en cancérologie pédiatrique.
    </div>
  </div>
  
  <div class="row text-center text-justify py-3">
    <div class="col-12">
      <h3 class="mx-auto">L’Anatomopathologie</h3>
      <div class="text-justify">
        La spécialité d’anatomopathologie est essentielle pour confirmer les diagnostics cliniques de cancer des patients. Des examens histologiques en laboratoire, des prélèvements effectués sur les organes malades permettent de guider le choix de protocoles de soins offrant les meilleurs taux de succès. Une anatomopathologie incertaine réduit notablement les chances de succès et fait perdre un temps précieux par une administration de médications onéreuses mais inappropriées. La thérapie du soin des cancers de l’enfant peut être assimilée à une guerre de mouvements rapides. Plus on est rapide dans l’administration du juste traitement, plus grandes seront les chances de survie des enfants.
      </div>
    </div>
  </div>
  <div class="row text-center py-2">
    <div class="col-12 col-md-4">
      <div class="p-3 cream rounded m-2">    
        <h3>La Chirurgie</h3>
        <div class="text-justify">
          L’accent est mis sur une formation spécifique aux besoins de chirurgie dans le traitement des tumeurs de l’enfant. Elle est destinée à des chirurgiens n’ayant pas une expérience spécifique au domaine de l’oncologie pédiatrique. La Chirurgie des tumeurs cancéreuses de l’enfant est un complément indispensable à maitriser pour soigner efficacement les cancers des enfants.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="p-3 cream rounded m-2">    
        <h3>L’ophtalmologie : Formation Rétinoblastome</h3>
        <div class="text-justify">
          Depuis 2011, le GFAOP, adossé à Gustave Roussy et à l’institut Curie, a décidé d’inscrire le rétinoblastome des enfants parmi les pathologies sur lesquelles elle s’investit plus particulièrement. Ce cancer représente une proportion importante des tumeurs qui frappent les enfants.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="p-3 cream rounded m-2">    
        <h3>La Radiologie et la Radiothérapie</h3>
        <div class="text-justify">
        Encore trop peu de services africains disposent d’accès à la radiothérapie, pourtant elle permet les traitements conservateurs liés à certaines tumeurs. La mise à disposition de nouveaux équipements nécessite la formation des utilisateurs.
        </div>
      </div>
    </div>
  </div>
</div>
