
<div class="wrapper-5">
  <div class="vertical-spacer"></div>
    <h1>LA FORMATION</h1>
  <div class="vertical-spacer"></div>
</div>

<div class="container">
  <div class="row mx-auto text-justify py-3">
      L’objectif est de former du personnel médical et paramédical afin de soigner localement les enfants malades.
      En 15 ans, plus de 200 médecins et infirmiers  africains ont été formés à l’oncologie pédiatrique grâce au GFAOP dans les plus grands services spécialisés en cancérologie. <br>
      En complément à la formation des pédiatres oncologues, d’autres  médecins spécialistes (chirurgiens, anatomopathologistes, ophtalmologistes, radiothérapeutes…) et des infirmiers bénéficient également de formations liées à l’oncologie pédiatrique. <br>
      C’est le principal poste de dépenses de l’association.
      Néanmoins, seul 10% des enfants atteints de cancer parviendrait à rejoindre les centres spécialisés, un important travail de sensibilisation est en cours. Pour accueillir un nombre croissant d’enfants il est indispensable d’augmenter les capacités de formation des personnels des unités de références et des compétences relais par un plan de formation prenant en compte les besoins de chaque pays (formations centralisées et décentralisées)
  </div>
  <div class="row text-justify cream round">
    <div class="col-sm-3 col-8">
      <%= image_tag "actionstage1.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"enfant" %>
    </div>
    <div class="col-sm-9 col-8 py-3">
      <h3>• Les Stages</h3>
      D’une durée de 15 jours à 2 mois, en France, au Maroc ou dans certaines unités d’Afrique sub sahariennes, ces stages sont ouverts à différentes disciplines en vue d’acquérir les compétences nécessaires à la pratique de l’oncologie pédiatrique.
      Toutes les disciplines médicales et paramédicales sont concernées.
    </div>
  </div>
  <div class="row text-justify">
    <div class="col-sm-3 col-8">
      <%= image_tag "actiondiuop.png", class:"borderless rounded img-thumbnail", width: 600, alt:"enfant" %>
    </div>
    <div class="col-sm-9 col-8 py-3">
      <h3>• Le Diplôme Inter Universitaire d’Oncologie Pédiatrique (DIUOP) en France</h3>
      Ouvert aux étudiants étrangers en France,  la formation d’un an à ce diplôme permet d’acquérir la capacité de prendre en charge les enfants et adolescents présentant une affection maligne dans le cadre de l’exercice multidisciplinaire de l’oncologie pédiatrique.
    </div>
  </div>
  <div class="row text-justify cream round">
    <div class="col-sm-3 col-8">
      <%= image_tag "actioneaop.png", class:"borderless rounded img-thumbnail", width: 600, alt:"enfant" %>
    </div>
    <div class="col-sm-9 col-8 py-3">
      <h3>• L’Ecole Africaine d’Oncologie Pédiatrique  (EAOP) au Maroc</h3>
      Destinée à accroitre les capacités de formation du GFAOP, l’école forme chaque année de 20 à 30 praticiens lors de sessions dans des spécialités diverses (Pédiatrie, chirurgie, soins infirmiers…)
      L’Ecole Africaine d’Oncologie Pédiatrique (EAOP) est issue de l’expérience de formation du GFAOP et de Gustave Roussy. Elle est le prolongement en Afrique de l’expérience acquise en France par le GFAOP dans le domaine de la formation à l’Oncologie Pédiatrique.
    </div>
  </div>
    <div class="row text-justify">
    <div class="col-sm-3 col-8">
      <%= image_tag "actiondiucp.png", class:"borderless rounded img-thumbnail", width: 600, alt:"enfant" %>
    </div>
    <div class="col-sm-9 col-8 py-3">
      <h3>• Le Diplôme Universitaire de Cancérologie Pédiatrique (DUCP) au Maroc</h3>
      Ce diplôme franco-marocain initié par le GFAOP avec les facultés de médecine de Paris-Sud et de Rabat, se prépare en une année. Ouverte à une vingtaine d’étudiants chaque année, cette  formation dispense des cours théoriques et  des stages pratiques au Maroc et en France. Elle est destinée à répondre à une demande sans cesse croissante de spécialistes du cancer de l’enfant.
    </div>
  </div>
  <div class="row text-justify cream round">
    <div class="col-sm-3 col-8">
      <%= image_tag "actioncollegiales.png", class:"borderless rounded img-thumbnail", width: 600, alt:"enfant" %>
    </div>
    <div class="col-sm-9 col-8 py-3">
      <h3>• Les formations collégiales</h3>
      Les formations collégiales ont lieu à l’occasion des rencontres du GFAOP (Conseil d'Administration et Assemblée Générale). Ces réunions rassemblent les médecins des unités pilotes du Maghreb et d’Afrique sub-saharienne.
      Elles constituent un temps fort de formation par les échanges d’expériences qu’elles permettent.
    </div>
  </div>
  <div class="row text-justify">
    <div class="col-sm-3 col-8">
      <%= image_tag "actionstage2.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"enfant" %>
    </div>
    <div class="col-md-9 col-8 py-3">
      <h3>• La formation  des responsables d’UP</h3>
      Le GFAOP est amené à aider les responsables d’UP à acquérir les titres Universitaires de 3ème cycle tels que le Doctorat ès-Sciences ou l’Agrégation de médecine leur permettant d’évoluer dans la hiérarchie de leurs établissements. Une évolution vers les hauts niveaux de l’administration Hospitalière Africaine constitue un gage de promotion de l’Oncologie Pédiatrique Africaine.
    </div>
  </div>
  <div class="row text-justify cream round">
    <div class="col-sm-3 col-8">
      <%= image_tag "actioninfirmiere.png", class:"borderless rounded img-thumbnail", width: 600, alt:"enfant" %>
    </div>
    <div class="col-sm-9 col-8 py-3">
      <h3>• La formation infirmière</h3>
      Un programme de formation  d’infirmières travaillant dans des services d’oncologie pédiatrique vise à  les sensibiliser aux problématiques médicales spécifiques de la pathologie cancéreuse des enfants.
      <br>
      Depuis  2014, l’association Laurette Fugain soutient le GFAOP, en offrant chaque année 2 bourses à des infirmières des Unités pilotes. Ces  dernières bénéficient de stages de 2 mois en France dans les services les plus prestigieux à l’issue desquels elles doivent produire un mémoire.
    </div>
  </div>
  <div class="row text-center text-justify py-3">
    <h3 class="mx-auto">L’Anatomopathologie</h3>
    La spécialité d’anatomopathologie est essentielle pour confirmer les diagnostics cliniques de cancer des patients. Des examens histologiques en laboratoire, des prélèvements effectués sur les organes malades permettent de guider le choix de protocoles de soins offrant les meilleurs taux de succès. Une anatomopathologie incertaine réduit notablement les chances de succès et fait perdre un temps précieux par une administration de médications onéreuses mais inappropriées. La thérapie du soin des cancers de l’enfant peut être assimilée à une guerre de mouvements rapides. Plus on est rapide dans l’administration du juste traitement, plus grandes seront les chances de survie des enfants.
  </div>
  <div class="row text-center py-2">
    <div class="col-12 col-md-3 py-2 cream round m-2 mr-md-auto">
      <h3>La Chirurgie</h3>
      L’accent est mis sur une formation spécifique aux besoins de chirurgie dans le traitement des tumeurs de l’enfant. Elle est  destinée à des chirurgiens n’ayant pas une expérience spécifique au domaine de l’oncologie pédiatrique. La Chirurgie des tumeurs cancéreuses de l’enfant est un complément indispensable à maitriser pour soigner efficacement les cancers des enfants.
    </div>
    <div class="col-12 col-md-4 py-2 cream round m-2">
      <h3>L’ophtalmologie : Formation Rétinoblastome</h3>
      Depuis 2011, le GFAOP, adossé à Gustave Roussy  et à l’institut Curie, a décidé d’inscrire le RETINOBLASTOME des enfants parmi les pathologies sur lesquelles elle s’investit plus particulièrement. Ce cancer représente une proportion importante des tumeurs qui frappent les enfants.
    </div>
    <div class="col-12 col-md-4 py-2 cream round m-2 ml-md-auto">
      <h3>La Radiologie et  la Radiothérapie</h3>
      Encore trop peu de services africains disposent d’accès à la radiothérapie, pourtant elle permet les traitements conservateurs liés à certaines tumeurs. La mise à disposition de nouveaux équipements nécessite la formation des utilisateurs.
    </div>
  </div>
</div>
