<% content_for :title, "Le Diplôme Universitaire de Cancérologie Pédiatrique" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-2 col-md-offset-3">
      <%= image_tag "logonav.png", class:"borderless round img-thumbnail", width: 100, alt:"gfaop" %>
    </div>
    <div class="col-md-2">
      <%= image_tag "univmohammed.jpg", class:"borderless round img-thumbnail", width: 100, alt:"Université Mohamed 5 Rabat" %>
    </div>
    <div class="col-md-2">
      <%= image_tag "univparissud.png", class:"borderless round img-thumbnail", width: 100, alt:"Université Paris Sud" %>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>


<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h3>Pourquoi un Diplôme Universitaire de Cancérologie Pédiatrique ?</h3>
    </div>
  </div>

  <div class="verysmall-vertical-spacer"></div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Le cancer chez l’enfant est une cause émergente majeure de morbidité et de mortalité. Dans les pays développés il est au premier rang des affections mortelles. Dans les pays en voie de développement, avec la réduction de la mortalité liée aux pathologies infectieuses et nutritionnelles, le cancer prend de plus en plus de place dans les problématiques de santé chez l’enfant. La prise en charge du cancer de l’enfant requiert cependant un haut niveau de technicité et d’organisation des structures de soins. Il n’y a cependant aucune formation organisée pour la cancérologie pédiatrique. La formation dans les pays développés est couteuse et parfois inappropriée au contexte de pratique du candidat. La mise en place d’un DU porté par la faculté de médecine et de pharmacie de Rabat en partenariat avec l’université Paris sud, vient donc combler cette lacune et contribuer au développement de l’oncologie. Cette formation a été largement inspirée du DIUOP (Diplôme Interuniversitaire d’Oncologie Pédiatrique) organisé à l’institut Gustave Roussy et grâce auquel un certain nombre d’oncologue pédiatre africain ont été formé à l’oncologie pédiatrique.</p>
    </div>
  </div>
</div>

<hr class="separator"></hr>

<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h3>Descriptif de la formation</h3>
    </div>
  </div>

  <div class="verysmall-vertical-spacer"></div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Le DU comprend une formation théorique, un stage pratique de 3 à 6 mois et un travail de recherche avec présentation d’un sujet de mémoire. La durée totale de la formation est de 12 mois démarrant au mois d’Octobre. La formation est sanctionnée par un Diplôme Universitaire validé également par l’université Paris Sud.
        L’enseignement théorique est dispensé en cinq modules de trois jours :</p>
        <ul>
          <li>Module 1 : Epidémiologie et recherche clinique</li>
          <li>Module 2 : Leucémies et lymphomes</li>
          <li>Module 3 et 4 : Tumeurs solides</li>
          <li>Module 5 : Prise en charge globale, soins de support, séquelles et suivi à long terme</li>
        </ul>
    </div>
  </div>
</div>

<hr class="separator"></hr>

<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h3>Public cible</h3>
    </div>
  </div>

  <div class="verysmall-vertical-spacer"></div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Formation ouverte aux médecins d’Afrique du Nord et d’Afrique Sub-Saharienne qui permettra de contribuer au développement des compétences en oncologie pédiatrique. 
Médecin spécialiste ou en cours de formation spécialisée :</p>
        <ul>
          <li>Pédiatre</li>
          <li>Hématologue</li>
          <li>Oncologue</li>
          <li>Chirurgien pédiatre</li>
          <li>Anatomopathologiste</li>
          <li>Radiothérapeute</li>
          <li>etc...</li>
        </ul>
      <p>Promotion limitée à 25 étudiants.</p>
      <p>Bientôt, les cours du DU sur la plateforme de E-learning du GFAOP.</p>
    </div>
  </div>
</div>

<hr class="separator"></hr>

<div class="container">
  <div class="row col-xs-8 col-xs-offset-2">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3tSxw5DW-Fw"></iframe>
    </div>
  </div>
</div>

<hr class="separator"></hr>

<div class="container">
  <div class="row">
	<!-- TODO(pcarton) pb mobile + lien invalide -->
    <div class="col-md-2 col-md-offset-5">
      <a class="btn btncrowd " href="http://egfaop.appdev.ma/index.html" role="button">Vous inscrire</a>
    </div>
  </div>
</div>

<hr class="separator"></hr>

<!-- TODO(pcarton) put images with bigger width, remove the offset for smaller screens -->
<div class="container">
  <div class="row text-center">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "logonav.png", class:"borderless round img-thumbnail", width: 120, alt:"logo gfaop" %>
    </div>
    <div class="col-md-2">
      <%= image_tag "logolalla.jpg", class:"borderless round img-thumbnail", width: 120, alt:"fondation lalla salma" %>
    </div>
    <div class="col-md-2">
      <%= image_tag "logocanceropole.jpg", class:"borderless round img-thumbnail", width: 120, alt:"cancéropole paca" %>
    </div>
    <div class="col-md-2">
      <%= image_tag "logosmhop.png", class:"borderless round img-thumbnail", width: 140, alt:"société marocaine d'hématologie et oncologie pédiatrique" %>
    </div>
    <div class="col-md-2">
      <%= image_tag "logo_sanofi.jpg", class:"borderless round img-thumbnail", width: 120, alt:"fondation espoir sanofi" %>
    </div>
  </div>
</div>

