<% content_for :title, "Accueil du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<script>
  <% #!/usr/bin/env ruby %>
  <% require 'nokogiri' %>
  <% require 'open-uri' %>
  <% doc = Nokogiri::XML(open("https://gfaopcorinnecd.tumblr.com/rss#_=_")) %>
  <% url1 = doc.xpath('//item/link').at(0).text %> 
  <% url2 = doc.xpath('//item/link').at(1).text %> 
</script>

<!-- TODO(pcarton) is this necessary? -->

<div class="wrapper py-5">
  <h1 class="pt-5">Guérir le cancer des enfants en Afrique</h1>
  <h3 style="font-family: Lato; font-style: italic">8000 enfants déjà traités, plus de 240 médecins et infirmiers formés</h3>
  <a class="btn btn-warning mx-auto" href="http://www.helloasso.com/don/associations/gfaop" role="button" target="_blank" >Je fais un don</a>    
</div>

<div class="grey-back">
  <div class="container py-3">
    <div class="row text-center">
      <div class="col-12">
        <h2>NOS ACTIONS</h2>
      </div>
      <div class="col-sm-3">
        <%= image_tag "formation.png", width: 60, alt:"la formation" %>
      </div>
      <div class="col-sm-3">
        <%= image_tag "recherche.png", width: 50, alt:"la recherche" %>
      </div>
      <div class="col-sm-3">
        <%= image_tag "envoi.png", width: 50, alt:"l'envoi de médicaments" %>
      </div>
      <div class="col-sm-3">
        <%= image_tag "maison2x.png", width: 50, alt:"l'accompagnement des familles" %>
      </div>
    </div>
    <div class="row text-center py-1">
      <div class="col-sm-3">Formation</div>
      <div class="col-sm-3">Recherche Clinique</div>
      <div class="col-sm-3">Envoi de Médicaments</div>
      <div class="col-sm-3">Accompagnement</div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="mx-auto py-4" style="color: #f96634;">PRESENTATION</h2>
  <div class="embed-responsive embed-responsive-16by9 mx-auto">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IbdA6nqrfNU"></iframe>
  </div>
</div>

<div class="container">
  <h2 class="mx-auto py-4" style="color: #f96634;">ACTUALITES</h2>
  <div class="row">
    <div class="mx-auto tumblr-post"
      data-href="https://embed.tumblr.com/embed/post/PiEi8e18EEZ1NgV7HbprPg/<%= url1.tr('https://gfaopcorinnecd.tumblr.com/post/', '') %>"
      data-did="e91a187a3d1cef870e50ba664655f80802e0403d">
      <a href="<%= url1 %>">
     <%= url1 %></a>
    </div>
    <div class="mx-auto tumblr-post"
      data-href="https://embed.tumblr.com/embed/post/PiEi8e18EEZ1NgV7HbprPg/<%= url2.tr('https://gfaopcorinnecd.tumblr.com/post/', '') %>"
      data-did="e91a187a3d1cef870e50ba664655f80802e0403d">
      <a href="<%= url2 %>">
     <%= url2 %></a>
    </div>
    <script async src="https://assets.tumblr.com/post.js"></script>      
  </div>
  <div class="mx-auto py-2">
    <h3>Rendez-vous sur notre Blog</h3>
    <a class="btn btncrowd" href="https://gfaopcorinnecd.tumblr.com" role="button">Tumblr</a>
  </div>
</div>
<!-- TODO(pcarton) what is this wrapper 11 class? -->
<div class="wrapper-11 container">
  <div class="row">
    <div class="mx-auto quote white text-center">
        <h2>"Le GFAOP, fort de son expérience et de son savoir-faire, doit continuer à œuvrer à sa manière pour un monde plus équitable".</h2>
        <h3>Pr Mhamed Harif, Président du GFAOP</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-3">
      <h4 class="text-center"><%= link_to "DANS LES MEDIAS", 'presse.html', style:"color: #f96634;"%></h4>
      <%= image_tag "logolacroix.png", class:"borderless rounded img-thumbnail", width: 120, alt:"logo la croix" %>
      <%= image_tag "logorfi.png", class:"borderless rounded img-thumbnail", width: 50, alt:"logo rfi" %>
      <%= image_tag "logoja.jpg", class:"borderless rounded img-thumbnail", width: 130, alt:"logo jeune afrique" %>
    </div>
    <div class="col-md-6">
      <h4 class="text-center"><%= link_to "NOS PARTENAIRES", 'partenaire.html', style:"color: #f96634;"%></h4>
      <a href="http://www.gustaveroussy.fr/">
        <%= image_tag "Logo-gustave-roussy.jpg", class:"borderless rounded img-thumbnail", width: 100, alt:"campus gustave roussy" %>
      </a>
      <a href="http://www.total.com/fr">
        <%= image_tag "logototal.jpg", class:"borderless rounded img-thumbnail", width: 130, alt:"total" %>
      </a>
      <a href="http://fondation-sanofi-espoir.com/">
        <%= image_tag "logo_sanofi.jpg", class:"borderless rounded img-thumbnail", width: 130, alt:"sanofi espoir fondation" %>
      </a>
      <a href="http://www.contrelecancer.ma/">
      <%= image_tag "logolalla.jpg", class:"borderless rounded img-thumbnail", width: 170, alt:"fondation lalla salma" %>
      </a>
    </div>
    <div class="col-md-3">
      <h4 class="text-center"><%= link_to "NOS PUBLICATIONS", 'publication.html', style:"color: #f96634;"%></h4>
      <%= image_tag "logoem.png", class:"borderless rounded img-thumbnail", width: 60, alt:"Elsevier Masson" %>
      <%= image_tag "logojle.png", class:"borderless rounded img-thumbnail", width: 120, alt:"John Libbey Eurotext" %>
      <%= image_tag "logolancet.png", class:"borderless rounded img-thumbnail", width: 130, alt:"the lancet" %>
    </div>
  </div>
</div>
