<div class="small-vertical-spacer"></div>

<div class="cream">

  <div class="container">
    <div class="row text-center">
      <br>
      <br>
      <h2>Nos Partenaires</h2>
      <br>
      <h5>Le GFAOP est membre fondateur de l’ALIAM, Membre de l’UICC, membre de l’UNAPECLE et partenaire la SFCE</h5 >
      <br>
    </div>

    <div class="row">

      <div class="col-md-2  text-center">
        <div class="thumbnail">
          <div class="caption" style="height:10em">
            <a href="http://www.aliam.org/">
              <%= image_tag "logoaliam.png", class:"borderless round img-thumbnail", width: 100, alt:"sanofi" %>
            </a>
            <h4>ALIAM</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:10em">
            <a href="http://www.uicc.org/">
              <%= image_tag "logouicc.png", class:"borderless round img-thumbnail", width: 100, alt:"sanofi" %>
            </a>
            <h4>UICC</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:10em">
            <a href="http://unapecle.medicalistes.org/">
            <%= image_tag "logounapecle.gif", class:"borderless round img-thumbnail", width: 100, alt:"sanofi" %>
            </a>
            <h4>UNAPECLE</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://sfce.sfpediatrie.com/"></a>
            <%= image_tag "logosfce.png", class:"borderless round img-thumbnail", width: 90, alt:"sanofi" %>
            <h4>SFCE</h4>
          </div>
        </div>
      </div>

    </div>



  </div>


  <div class="container">
    <h5 class="text-center">Nous remercions nos partenaires pour leur engagement</h5>
    <br>
    <div class="row">

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.gustaveroussy.fr/">
              <%= image_tag "Logo-gustave-roussy.jpg", class:"borderless img-thumbnail", width: 300, alt:"gustave roussy" %>
            </a>
            <h4>Gustave Roussy</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://fondation-sanofi-espoir.com/">
              <%= image_tag "logo_sanofi.jpg", class:"borderless img-thumbnail", width: 300, alt:"fondation sanofi espoir" %>
            </a>
            <div class="verysmall-vertical-spacer"></div>
            <h4>Fondation Sanofi Espoir</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.total.fr/home.html">
              <%= image_tag "logototal.jpg", class:"borderless img-thumbnail", width: 300, alt:"fondation total" %>
            </a>
            <div class="verysmall-vertical-spacer"></div>
            <h4>TOTAL</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.contrelecancer.ma/fr/">
              <%= image_tag "logolalla.jpg", class:"borderless round img-thumbnail", width: 300, alt:"Fondation Lalla Salma" %>
            </a>
            <h4 style="padding-top: 15px;">Fondation Lalla Salma</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.airfrance.com/indexCom_fr.html">
              <%= image_tag "logoairfrance.png", class:"borderless round img-thumbnail", width: 300, alt:"Air France" %>
            </a>
            <div class="small-vertical-spacer"></div>
            <h4>Air France</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <%= image_tag "logosiim.jpg", class:"borderless round img-thumbnail", width: 90, alt:"Fondation Louis Omer-Decugis et SIIM" %>
            <h4>SIIM</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.ligue-cancer.net/">
              <%= image_tag "Logo_LIGUE.jpg", class:"borderless round img-thumbnail", width: 70, alt:"Ligue Contre le Cancer" %>
            </a>
            <h4>Ligue Contre le Cancer</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.les111desarts.org/">
              <%= image_tag "logo111.jpg", class:"borderless round img-thumbnail", width: 110, alt:"les 111 des Arts" %>
            </a>
            <h4>“les 111 des Arts”</h4>
          </div>
        </div>
      </div>



      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.ordredemaltefrance.org/">
              <%= image_tag "logoordredemalte.png", class:"borderless round img-thumbnail", width: 90, alt:"Ordre de Malte France" %>
            </a>
            <h4>Ordre de Malte France</h4>
          </div>
        </div>
      </div>



      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <%= image_tag "logoagir.png", class:"borderless round img-thumbnail", width: 100, alt:"fondation marocaine AGIR" %>
            <h4>AGIR</h4>
          </div>
        </div>
      </div>



      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.asf-fr.org/">
              <%= image_tag "logoasf.gif", class:"borderless round img-thumbnail", width: 110, alt:"Aviation Sans Frontière" %>
            </a>
            <h4>Aviation Sans Frontière</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.biphumanitaire.fr/">
              <%= image_tag "logobip.jpg", class:"borderless round img-thumbnail", width: 300, alt:"BIP Humanitaire" %>
            </a>
            <div class="verysmall-vertical-spacer"></div>
            <h4>BIP Humanitaire</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.carrefour.fr/">
              <%= image_tag "logocarrefour.png", class:"borderless round img-thumbnail", width: 100, alt:"CARREFOUR" %>
            </a>
            <h4>CARREFOUR</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://imagineformargo.org/">
              <%= image_tag "logoimagine.png", class:"borderless round img-thumbnail", width: 300, alt:"Association Imagine for Margo" %>
            </a>
            <br>
            <h4>Association «Imagine for Margo»</h4>
          </div>
        </div>
      </div>


      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.laurettefugain.org/">
              <%= image_tag "logolaurette.jpg", class:"borderless round img-thumbnail", width: 80, alt:"Association Laurette Fugain" %>
            </a>
            <h4>Association Laurette Fugain</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
          	<a href="http://www.soleterremaroc.org">
        		<%= image_tag "logosoleterre.jpg", class:"borderless round img-thumbnail", width: 90, alt:"Association Soleterre" %>
        	</a>
            <h4>Association Soleterre</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.talents-partage.org/">
              <%= image_tag "logotalentspartage.png", class:"borderless round img-thumbnail", width: 90, alt:"Association Talents et Partage" %>
            </a>
            <h4>Association Talents et Partage</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.valdemarne.fr/">
              <%= image_tag "logovaldemarne.gif", class:"borderless round img-thumbnail", width: 120, alt:"Conseil Général du Val de Marne" %>
            </a>
            <h4>Conseil Général du Val de Marne</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.avh.asso.fr/">
              <%= image_tag "logovalentinhauy.jpg", class:"borderless round img-thumbnail", width: 300, alt:"Fondation Valentin Haüy" %>
            </a>
            <h4>Fondation Valentin Haüy</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://fondation.veolia.com/en/">
              <%= image_tag "logoveolia.jpeg", class:"borderless round img-thumbnail", width: 300, alt:"Fondation VEOLIA" %>
            </a>
            <br>
            <br>
            <h4>Fondation VEOLIA</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <%= image_tag "logovictoir.png", class:"borderless round img-thumbnail", width: 300, alt:"Assocation "VICTOiR" %>
            <h4>Assocation "VICTOiR"</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <%= image_tag "logopcd.jpg", class:"borderless round img-thumbnail", width: 90, alt:"Association PCD" %>
            <h4>Association PCD</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.chateaudelabourlie.com/">
              <%= image_tag "logobourlie.png", class:"borderless round img-thumbnail", width: 90, alt:"Chateau de la Bourlie" %>
            </a>
            <h4>Chateau de la Bourlie</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.apsa-association.com/">
              <%= image_tag "logoapsa.jpg", class:"borderless round img-thumbnail", width: 300, alt:"apsa association" %>
            </a>
            <h4>APSA</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <%= image_tag "logocalissa.png", class:"borderless round img-thumbnail", width: 90, alt:"Fondation Calissa Ikama" %>
            <h4>Fondation Calissa Ikama</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.bsf.asso.fr/">
              <%= image_tag "logobsf.jpg", class:"borderless round img-thumbnail", width: 130, alt:"Biologie Sans Frontière" %>
            </a>
            <h4>Biologie Sans Frontière (BSF)</h4>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="thumbnail">
          <div class="caption" style="height:11em">
            <a href="http://www.cancer-amcc.org">
              <%= image_tag "logoamcc.png", class:"borderless round img-thumbnail", width: 80, alt:"cancer AMCC" %>
            </a>
            <h4>AMCC</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <ul>
        <li>• Association “Un cœur pour les enfants atteints de cancer”</li>
<!--         <li>• Associations marocaines AVENIR et AGIR</li> -->
        <li>• Association sénégalaise « En Vie »</li>
        <li>• Association « Fais moi plaisir »</li>
        <li>• Club Unesco Terre Bleue</li>
<!--         <li>• SIOP (Société Internationale d’Oncologie Pédiatrique)</li> -->
        <li>• TLMCC (Tout le Monde Chante Contre le Cancer)</li>
        <li>• Et nos nombreux donateurs particuliers!</li>
        <br>

      </ul>

    </div>
  </div>
</div>