<% content_for :title, "Les objectifs du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<div class="wrapper wrapper-4">
  <h2 class="pt-5">PRESENTATION DES UNITES-PILOTE</h2>
</div>

<div class="container py-1">
  <div class="row text-center">
    <h3 class="mx-auto py-2">Dans chaque hôpital, l’unité d’oncologie pédiatrique dite «Unité-Pilote» a en charge les soins des enfants atteints de cancer</h3>
    <p class="mx-auto text-justify col-md-8">Nous comptons 15 services ou “Unités Pilotes” d’oncologie pédiatrique dans 13 pays et chaque année le nombre d’enfants à prendre en charge augmente. De nouveaux pays cherchent à rejoindre le GFAOP comme le Burundi, le Niger, le Gabon, la Centrafrique qui ont actuellement des pédiatres en formation. On considère que le coût global ( hors salaires) du traitement d’un enfant atteint de cancer en Afrique sub-saharienne est d’environ 2000 euros. Ce coût intègre les médicaments anticancéreux pour 1000 euros et les antibiotiques, antimitotiques, analyses de sang, petit matériel, chirurgie pour l’autre moitié.
    Il est à noter que le nombre de cas traités selon les protocoles GFAOP ne représente qu’environ 60 % des enfants accueillis dans les services de cancérologie pédiatrique.
    </p>
  </div>
</div>

<div class="container">
  <div class="row cream rounded">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "algerie.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"enfants regardant la télévision dans un hôpital" %>
    </div>
    <div class="col-12 col-md-8 p-3">
      <h2><b>ALGERIE</b></h2>
      <p>Adhésion au GFAOP en 2000<br><br>
      <b>Pr Anissa TRABZI</b> (trabzi_anissa@yahoo.fr) <br>
      - Centre de Beni Messous, Alger<br>
      - Centre Pierre et Marie Curie, Alger<br>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "burkina.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"autour d'une table" %>
    </div>
    <div class="col-12 col-md-8 p-3">
      <h2><b>BURKINA FASO</b></h2>
      <p>Adhésion au GFAOP en 2005<br><br>
      <b>Dr Chantal BOUDA</b> (cgbouda@yahoo.fr)  <br>
      - CHU Yalgado Ouédraogo, Ouagadougou<br>
      <b>Dr Sonia KABORET</b> (kawajo200046@gmail.com) <br>
      - CHU Charles de Gaulle, Ouagadougou<br></p>
    </div>
  </div>
  <div class="row cream rounded">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "cameroun.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"L'équipe médicale autour de la famille" %>
    </div>
    <div class="col-12 col-md-8 p-3">
      <h2><b>CAMEROUN</b></h2>
      <p>Adhésion au GFAOP en 2000<br><br>
      <b>Dr Angèle PONDY</b> (pondyangele@yahoo.fr) <br>
      - Centre Mère et Enfant de la Fondation Chantal Biya, Yaoundé<br></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "congo.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"réunion dans les locaux au Congo" %>
    </div>
    <div class="col-12 col-md-8 p-3">
      <h2><b>CONGO RDC</b></h2>
      <p>Adhésion au GFAOP en 2009<br><br>
      <b>Dr Robert LUKAMBA</b> (robert.lukamba@gfaop.org) <br>
      <b>Dr Gray KATENG</b><br>
      - Cliniques Universitaires de Lubumbashi<br></p>
    </div>
  </div>
  <div class="row cream rounded">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "abidjan.png", class:"borderless rounded img-thumbnail", width: 300, alt:"l'hopital d'Abidjan" %>
    </div>
    <div class="col-12 col-md-8 p-3">
      <h2><b>CÔTE D'IVOIRE</b></h2>
      <p>Adhésion au GFAOP en 2004<br><br>
      <b>Dr Line COUITCHERE</b> (coutlin2@voila.fr) <br>
      <b>Dr Jean Jacques ATTEBY</b> (attebyjj@yahoo.fr) <br>
      - CHU de Treichville, Abidjan<br></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "madagascar.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"l'entree de l'hopital" %>
    </div>
    <div class="col-12 col-md-8 p-3">
      <h2><b>MADAGASCAR</b></h2>
      <p>Adhésion au GFAOP en 2004</p><br>
      <b>Dr Mbola RAKATOMAHOFENA</b> (mahefambola@yahoo.fr) <br>
      <p>- HJRA (Hôpital Joseph Ravoa- hangy Andrianavalona)<br>
      - HJRB (Hôpital Joseph Raseta Befelatanana)<br>
      - HUMET (Hôpital Universitaire Mère Enfant de Tsaralalana)</P>
    </div>
  </div>
  <div class="row cream rounded">
    <div class="col-12 col-md-4 text-center">
    <%= image_tag "mali.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"femmes et enfants dans la salle d'attente" %>
    </div>
    <div class="col-12 col-md-8 p-3">
      <h2><b>MALI</b></h2>
      <p>Adhésion au GFAOP en 2005<br><br>
      <b>Pr Boubacar TOGO</b> (togoboubacar2000@yahoo.fr) <br>
      <b>Dr Fousseyni TRAORE</b> (drfousseynitraore@gmail.com) <br>
      - Hôpital Gabriel Touré, Bamako<br></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "mauritanie.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"perfusion dans la chambre" %>
    </div>
    <div class="col-12 col-md-8 p-3">
      <h2><b>MAURITANIE</b></h2>
      <p>Adhésion au GFAOP en 2011<br><br>
      <b>Dr Bénina ZEIN</b> (idinifr@yahoo.fr) <br>
      - Centre Hospitalier National, Nouakchott<br></p>
    </div>
  </div>
  <div class="row cream">
    <div class="col-12 col-md-4 text-center">
    <%= image_tag "casablanca.jpeg", class:"borderless rounded img-thumbnail", width: 300, alt:"canapé d'angle dans la salle d'attente" %>
    </div>
    <div class="col-12 col-md-8 p-3">
      <h2><b>MAROC</b></h2>
      <h4>CASABLANCA</h4><br>
      <b>Pr Abdellah MADANI</b> (madani.hemato@gmail.com) <br>
      - CHU Casablanca (MHamed), Hôpital Cheikh Khalifa<br>
    </div>
  </div>
  <div class="row cream">
    <div class="col-12 col-md-4 text-center">
    <%= image_tag "rabat.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"salle de jeux pour les enfants" %>
    </div>
    <div class="col-8">
      <h4>RABAT</h4><br>
      <b>Pr Mhammed KHATTAB</b> (khattab@menara.ma) <br>
      <b>Dr Laïla HESSISSEN</b> (laila_hsn@yahoo.fr) <br>
      - Hôpital des enfants de Rabat
    </div>
  </div>
  <div class="row cream">
    <div class="col-12 col-md-4 text-center">
    <%= image_tag "marrakech.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"les bureaux de l'équipe soignante" %>
    </div>
    <div class="col-8">
      <h4>MARRAKECH</h4><br>
      <b>Professeur Jamila ELHOUDZI</b> (ejamila11@yahoo.fr) <br>
      - CHU Mohammed VI
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "senegal.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"l'équipe soignante au complet" %>
    </div>
    <div class="col-8">
      <h2><b>SENEGAL</b></h2>
      <p>Adhésion au GFAOP en 2000<br><br>
      <b>Pr Claude MOREIRA</b> (cmoreira@orange.sn) <br>
      <b>Dr Fatou Binétou DIAGNE</b> (fabakonde@gmail.com) <br>
      - Hôpital Aristide le Dantec, Dakar</p>
    </div>
  </div>
  <div class="row cream rounded">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "tunisie.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"jeune enfant debout face au lit" %>
    </div>
    <div class="col-12 col-md-8 p-3">
      <h2><b>TUNISIE</b></h2>
      <p>Adhésion au GFAOP en 2000<br><br>
      <b>Pr Siham BARSAOUI</b> (barsaoui.sihem@rns.tn) <br>
      - Hôpital des enfants de Tunis</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "togo.jpg", class:"borderless rounded img-thumbnail", width: 300, alt:"l'équipe soignante nous accueillant" %>
    </div>
    <div class="col-8">
      <h2><b>TOGO</b></h2>
      <p>Adhésion au GFAOP en 2008<br>
      <b>Pr Adama GDABOE</b> (adgbadoe@yahoo.fr) <br>
      <b>Dr Jules GUÉDÉNON</b> (julesblack@yahoo.fr) <br><br>
      - Hôpital Sylvanus Olympio, Lomé</p>
    </div>
  </div>
</div>

<div class="container py-1">
  <div class="row">
    <div class="col-12 col-md-4 rounded cream m-2 ml-md-auto">
      <h3 class="text-center py-2">Les UP en formation</h3>
      <ul>
        <li>CONGO BRAZZAVILLE</li>
      </ul>  
      <p>Le Dr Ildevert Cyriaque N’Djobo est en cours de formation au Diplôme Universitaire de Cancérologie Pédiatrique à Rabat</p>
      <ul>
        <li>GUINEE CONAKRY</li>
      </ul> 
    </div>
    <div class="col-12 col-md-4 rounded cream m-2 mr-md-auto">
      <h3 class="text-center py-2">Les UP en préparation</h3>
      <ul>
        <li>NIGER </li>
        <li>CENTRAFRIQUE</li>
        <li>BURUNDI</li>
        <li>GABON</li>
        <li>BENIN</li>
      </ul>
    </div>
  </div>
  <div class="row p-2">
    <p class="text-center"><b>Malgré l’important travail des équipes du GFAOP, seuls 10% des enfants atteints de cancers atteignent l’une des unités d’oncologie pédiatrique existantes en raison de :</b></p>
    <ul>
      <li>L’absence d’unités dans certains pays</li>
      <li>Une insuffisance d’unités dans des pays très peuplés</li>
      <li>Une insuffisance de personnels formés</li>
      <li>Un accès difficile aux unités existantes du fait de l’éloignement d’une grande partie de la population</li>
      <li>Une méconnaissance de l’efficacité des traitements de la part des autorités et de la population</li>
      <li>Un manque de moyens pour accéder aux examens diagnostiques et aux soins </li>
    </ul>
  </div>
</div>

<div class="container">
  <h3 class="text-center">Enfants Traités depuis 2011</h3>
  <img class="text-center" src="./images/tableaucasup.png" alt="statistiques des cas soignés dans les différentes unités" />
  <h3 class="text-center">Les besoins restent donc considérables</h3>
  <div class="row px-2">
    <div class"col-12 text-left">
      <p>Or, on sait que la guérison peut atteindre 80%, à condition :</p>
      <ul>
        <li>Que le diagnostic de cancer soit précoce</li>
        <li>Que l’accès à une équipe compétente soit rapide</li>
        <li>Que le bilan initial et la mise en route du traitement soient faits dans des délais courts </li>
        <li>Que le traitement, souvent long, puisse être mené à son terme avec la surveillance après traitement, ce qui suppose un accompagnement des familles, un développement de relais à proximité du domicile et un soutien aux plus vulnérables</li>
      </ul>
      <p>C’est pour répondre à ces besoins que le projet d’accélération de la mise à disposition de structures performantes en Afrique francophone sub-saharienne est proposé, avec l’objectif global de permettre la prise en charge efficace de :</p>
      <ul>
        <li>Au moins 30% des enfants  (soit environ 3 500 nouveaux cas/an)  d’Afrique sub-saharienne atteints de cancers en 2020.</li>
        <li>Au moins 60% (soit environ 7 000 cas/an) en 2025.</li>
      </ul>
    </div>    
  </div>
</div>