<% content_for :title, "La revue de presse du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <h3>Ils parlent de nous dans la presse</h3>
  </div>
</div>

<div class="cream">
  <div class="container">

    <div class="small-vertical-spacer"></div>

    <div class="row">
      <div class="col-xs-4">
        <%= image_tag "logolacroix.png", class:"borderless img-thumbnail", width: 120, alt:"la croix" %>
        <h4>La Croix</h4>
        <p style="font-style: italic;" >
          "Une association francaise forme localement des médecins et infirmières et envoie
          des médicaments anticancéreux dans treize pays africains francophones."</p>
        <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/presse/articlelacroix.pdf">Lire la Suite</a>
      </div>

      <div class="col-xs-4">
        <%= image_tag "logoja.jpg", class:"borderless img-thumbnail", width: 140, alt:"jeune afrique" %>
        <h4>Jeune Afrique</h4>
        <p style="font-style: italic;" >S’il est du devoir des pays du Nord d’aider ceux du Sud à contrer la maladie, ils doivent aussi favoriser une cooperation accrue entre Africains. Ce que fait, avec un certain succès, le Groupement franco-africain d’oncologie pédiatrique.</p>
        <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/presse/Jeune_Afrique.pdf">Lire la Suite</a>
      </div>

      <div class="col-xs-4">
        <%= image_tag "logorfi.png", class:"borderless img-thumbnail", width: 45, alt:"Radio France Internationale" %>
        <h4>Radio France Internationale</h4>
        <p style="font-style: italic;" >Journée Mondiale contre le cancer. <br>
          Intervention de Monsieur le Professeur Pierre Bey, Institut Curie, Paris.</p>
        <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/presse/PRIORITE_SANTE2_04_02_14_Journee_mondiale_du_cancer.mp3">Priorité Santé 04/02/2014</a><br>
        <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/presse/priorite_sante_2_20130204_0933.mp3">Priorité Santé 04/02/2013</a><br>
        <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/presse/reunion_biannuelle_GFAOP_2012_RFI.mp3">Réunion Bi-annuelle 2012</a>

      </div>

    </div>

    <div class="verysmall-vertical-spacer"></div>

    <div class="row">

      <div class="col-xs-4">
        <%= image_tag "webzine.jpg", class:"borderless img-thumbnail", width: 120, alt:"United Fashion For Peace" %>
        <h4>United Fashion For Peace</h4>
        <p style="font-style: italic;" >"Le Cancer de l’Enfant peut être traité en Afrique !"</p>
        <a target="_blank" href="http://webzine.unitedfashionforpeace.com/ethical-planet/le-cancer-de-l-enfant-peut-etre-traite-en-afrique/#.Uuq_Ofb2hWo">Lire la Suite</a>
      </div>


      <div class="col-xs-4">
        <%= image_tag "Logo_LIGUE.jpg", class:"borderless round img-thumbnail", width: 70, alt:"La Ligue Contre Le Cancer" %>
        <h4>La Ligue Contre Le Cancer</h4>
        <p style="font-style: italic;" >"Mieux soigner la jeunesse Africaine"</p>
        <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/presse/liguecancer.pdf">Lire la Suite</a>
      </div>

      <div class="col-xs-4">
        <br>
        <%= image_tag "logoamina.png", class:"borderless round img-thumbnail", width: 200, alt:"Amina" %>
        <h4>Amina</h4>
        <p style="font-style: italic;" >"L'Oncopédiatrie au Chevet des Petits en Afrique"</p>
        <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/presse/article_gfaop_amina.pdf">Lire la Suite</a>
      </div>

    </div>

    <div class="verysmall-vertical-spacer"></div>
  </div>
</div>